## pymongo를 활용해 MongoDB와  python을 연결

### MongDB

- NoSQL Database중 하나로 사전 같은 객체를 사용하여 문서(Document)기반으로 데이터를 저장한다

공식 드라이버 pymongo 설치

In [1]:
# !pip install --upgrade pymongo
!pip install --upgrade pymongo

Requirement already up-to-date: pymongo in /Users/grace/workspace/keras/venv/lib/python3.6/site-packages (3.7.2)
textract 1.6.1 has requirement chardet==2.3.0, but you'll have chardet 3.0.4 which is incompatible.
spyder-kernels 0.2.6 has requirement ipykernel>=4.8.2, but you'll have ipykernel 4.8.1 which is incompatible.
spyder-kernels 0.2.6 has requirement jupyter-client>=5.2.3, but you'll have jupyter-client 5.2.2 which is incompatible.
spyder-kernels 0.2.6 has requirement pyzmq>=17, but you'll have pyzmq 16.0.4 which is incompatible.
You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
from pymongo import MongoClient

### MongoDB 접속

In [3]:
# mongoDB에 접속할 client 생성
# murl = "mongodb://admin:<PASSWORD>@clusterXXX&retryWrites=true"
# Atlas -> connection -> connect your application -> standard connection string -> copy
murl = ''

client = MongoClient(murl, 27017)

### Database와 Collection

In [4]:
# Database 찾아오기
# MongoDB는 여러 개의 데이터베이스를 가질 수 있고, 
# 각각의 데이터베이스는 여러 개의 컬렉션을 가질 수 있다

# DB 생성 (이미 존재하는 DB라면 Load)
company_database = client.Company
print(company_database)

Database(MongoClient(host=['cluster0-shard-00-00-8m9q3.mongodb.net:27017', 'cluster0-shard-00-01-8m9q3.mongodb.net:27017', 'cluster0-shard-00-02-8m9q3.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True, replicaset='Cluster0-shard-0', authsource='admin', retrywrites=True), 'Company')

In [5]:
# DB와 Collection을 Load하는 다른 방법

company_database = client.get_database('Company')
employee = company_database.get_collection('Employee')

print(company_database, employee)

Database(MongoClient(host=['cluster0-shard-00-00-8m9q3.mongodb.net:27017', 'cluster0-shard-00-01-8m9q3.mongodb.net:27017', 'cluster0-shard-00-02-8m9q3.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True, replicaset='Cluster0-shard-0', authsource='admin', retrywrites=True), 'Company') Collection(Database(MongoClient(host=['cluster0-shard-00-00-8m9q3.mongodb.net:27017', 'cluster0-shard-00-01-8m9q3.mongodb.net:27017', 'cluster0-shard-00-02-8m9q3.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True, replicaset='Cluster0-shard-0', authsource='admin', retrywrites=True), 'Company'), 'Employee')

In [6]:
# DB 내의 Collection List 보기

collection_list = company_database.collection_names()
collection_list

/Users/grace/workspace/keras/venv/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  This is separate from the ipykernel package so we can avoid doing imports until

['Employee']

### Database CRUD

In [7]:
# 실습 전 정리하기
employee.remove()

/Users/grace/workspace/keras/venv/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.

{'$clusterTime': {'clusterTime': Timestamp(1541626433, 5),
  'signature': {'hash': b'\xee+!\xd7\xe2\xf5En\xe91c\x87\x9c_Hl\xf3\xd3\xbdD',
   'keyId': 6605358658400288769}},
 'electionId': ObjectId('7fffffff0000000000000007'),
 'n': 5,
 'ok': 1.0,
 'opTime': {'t': 7, 'ts': Timestamp(1541626433, 5)},
 'operationTime': Timestamp(1541626433, 5)}

#### Insert

In [8]:
# 컬렉션에 저장하기
employee.insert({'name':'grace'})

/Users/grace/workspace/keras/venv/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.

ObjectId('5be35a41827e3c460a886420')

#### Find(= Select)

In [9]:
# 컬렉션에서 읽어오기

# 전체 조회
cursor = employee.find()
print(list(cursor))

# 조건 조회 (name이 grace 인 데이터만 조회)
cursor = employee.find({'name':'grace'})
print(list(cursor))

# cursor는 1회 사용 후 휘발됨
print(list(cursor))

[{'_id': ObjectId('5be35a41827e3c460a886420'), 'name': 'grace'}]
[{'_id': ObjectId('5be35a41827e3c460a886420'), 'name': 'grace'}]
[]

#### Remove(= Delete)

In [10]:
# 컬렉션에서 삭제하기
employee.remove({'name':'grace'})

/Users/grace/workspace/keras/venv/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.

{'$clusterTime': {'clusterTime': Timestamp(1541626433, 8),
  'signature': {'hash': b'\xee+!\xd7\xe2\xf5En\xe91c\x87\x9c_Hl\xf3\xd3\xbdD',
   'keyId': 6605358658400288769}},
 'electionId': ObjectId('7fffffff0000000000000007'),
 'n': 1,
 'ok': 1.0,
 'opTime': {'t': 7, 'ts': Timestamp(1541626433, 8)},
 'operationTime': Timestamp(1541626433, 8)}

In [11]:
list(employee.find())

[]

In [12]:
people = ['grace', 'kyle', 'john', 'tom', 'ellen']
city = ['seoul', 'newyork', 'london', 'paris']
department = ['IT', 'Finance', 'HR']

In [13]:
from random import *

for person in people:
    employee.insert({'name': person, \
                     'age': randint(20, 80), \
                     'address': city[randint(0, 3)], \
                     'department':department[randint(0, 2)]})

/Users/grace/workspace/keras/venv/lib/python3.6/site-packages/ipykernel_launcher.py:4: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  after removing the cwd from sys.path.

ObjectId('5be35a41827e3c460a886421')

ObjectId('5be35a41827e3c460a886422')

ObjectId('5be35a41827e3c460a886423')

ObjectId('5be35a41827e3c460a886424')

ObjectId('5be35a41827e3c460a886425')

In [14]:
list(employee.find())

[{'_id': ObjectId('5be35a41827e3c460a886421'),
  'address': 'paris',
  'age': 72,
  'department': 'IT',
  'name': 'grace'},
 {'_id': ObjectId('5be35a41827e3c460a886422'),
  'address': 'london',
  'age': 36,
  'department': 'Finance',
  'name': 'kyle'},
 {'_id': ObjectId('5be35a41827e3c460a886423'),
  'address': 'seoul',
  'age': 37,
  'department': 'HR',
  'name': 'john'},
 {'_id': ObjectId('5be35a41827e3c460a886424'),
  'address': 'london',
  'age': 28,
  'department': 'IT',
  'name': 'tom'},
 {'_id': ObjectId('5be35a41827e3c460a886425'),
  'address': 'newyork',
  'age': 54,
  'department': 'Finance',
  'name': 'ellen'}]

#### Fileter

In [15]:
# find 명령어에 조건을 입력하여 조회 가능
# $lt(less than): 미만
# $lte(less then equals): 이하
# $gt(grater than): 초과
# $gte(grater than equals): 이상
# $ne(not equeals): 같지않음

list(employee.find({'age': {'$gte': 40}}))

[{'_id': ObjectId('5be35a41827e3c460a886421'),
  'address': 'paris',
  'age': 72,
  'department': 'IT',
  'name': 'grace'},
 {'_id': ObjectId('5be35a41827e3c460a886425'),
  'address': 'newyork',
  'age': 54,
  'department': 'Finance',
  'name': 'ellen'}]

In [16]:
list(employee.find({'age': {'$lte': 40}}))

[{'_id': ObjectId('5be35a41827e3c460a886422'),
  'address': 'london',
  'age': 36,
  'department': 'Finance',
  'name': 'kyle'},
 {'_id': ObjectId('5be35a41827e3c460a886423'),
  'address': 'seoul',
  'age': 37,
  'department': 'HR',
  'name': 'john'},
 {'_id': ObjectId('5be35a41827e3c460a886424'),
  'address': 'london',
  'age': 28,
  'department': 'IT',
  'name': 'tom'}]

In [17]:
# 여러 조건 동시에 주기
# $and, $or

list(employee.find({'$and': [{'age': {'$gt': 30}}, {'address': 'newyork'}]}))

[{'_id': ObjectId('5be35a41827e3c460a886425'),
  'address': 'newyork',
  'age': 54,
  'department': 'Finance',
  'name': 'ellen'}]

In [18]:
list(employee.find({'$or': [{'age': {'$lt': 25}}, {'address': 'seoul'}]}))

[{'_id': ObjectId('5be35a41827e3c460a886423'),
  'address': 'seoul',
  'age': 37,
  'department': 'HR',
  'name': 'john'}]

In [19]:
# 집합 조건

list(employee.find({'address': {'$in': ['seoul', 'london']}}))

[{'_id': ObjectId('5be35a41827e3c460a886422'),
  'address': 'london',
  'age': 36,
  'department': 'Finance',
  'name': 'kyle'},
 {'_id': ObjectId('5be35a41827e3c460a886423'),
  'address': 'seoul',
  'age': 37,
  'department': 'HR',
  'name': 'john'},
 {'_id': ObjectId('5be35a41827e3c460a886424'),
  'address': 'london',
  'age': 28,
  'department': 'IT',
  'name': 'tom'}]

In [20]:
list(employee.find({'name': {'$nin': ['john', 'kyle']}}))

[{'_id': ObjectId('5be35a41827e3c460a886421'),
  'address': 'paris',
  'age': 72,
  'department': 'IT',
  'name': 'grace'},
 {'_id': ObjectId('5be35a41827e3c460a886424'),
  'address': 'london',
  'age': 28,
  'department': 'IT',
  'name': 'tom'},
 {'_id': ObjectId('5be35a41827e3c460a886425'),
  'address': 'newyork',
  'age': 54,
  'department': 'Finance',
  'name': 'ellen'}]

In [21]:
# Key값의 존재 여부 조건

list(employee.find({'age': {'$exists': True}}))

[{'_id': ObjectId('5be35a41827e3c460a886421'),
  'address': 'paris',
  'age': 72,
  'department': 'IT',
  'name': 'grace'},
 {'_id': ObjectId('5be35a41827e3c460a886422'),
  'address': 'london',
  'age': 36,
  'department': 'Finance',
  'name': 'kyle'},
 {'_id': ObjectId('5be35a41827e3c460a886423'),
  'address': 'seoul',
  'age': 37,
  'department': 'HR',
  'name': 'john'},
 {'_id': ObjectId('5be35a41827e3c460a886424'),
  'address': 'london',
  'age': 28,
  'department': 'IT',
  'name': 'tom'},
 {'_id': ObjectId('5be35a41827e3c460a886425'),
  'address': 'newyork',
  'age': 54,
  'department': 'Finance',
  'name': 'ellen'}]

#### Update

In [22]:
# update 명령어
# 2개의 argument 중 첫번째는 업데이트를 진행할 데이터의 조건
# 두번째는 업데이트하게 될 내용을 입력
# 단, 모든 데이터를 입력해야 함
# test_collection.update({'name': 'grace'}, {'age': 30}) 을 실행하면 {'age': 30}만 존재하는 Collection으로 변경됨
# 해당 조건 데이터가 없을 경우 insert하기를 원하면 upsert = True
# 동일한 조건의 여러 Collection을 모두 update하기를 원하면 multi = True

employee.update({'name': 'grace'}, {'name': 'grace', 'age': 5, 'address': 'london'})
list(employee.find({'name': 'grace'}))

/Users/grace/workspace/keras/venv/lib/python3.6/site-packages/ipykernel_launcher.py:9: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  if __name__ == '__main__':

{'$clusterTime': {'clusterTime': Timestamp(1541626434, 2),
  'signature': {'hash': b'i\x9e\xfd\x81\x8f\xd3l\xab\xf8\x00\x98\xfab\x88j\x85Y\xf7:\xee',
   'keyId': 6605358658400288769}},
 'electionId': ObjectId('7fffffff0000000000000007'),
 'n': 1,
 'nModified': 1,
 'ok': 1.0,
 'opTime': {'t': 7, 'ts': Timestamp(1541626434, 2)},
 'operationTime': Timestamp(1541626434, 2),
 'updatedExisting': True}

[{'_id': ObjectId('5be35a41827e3c460a886421'),
  'address': 'london',
  'age': 5,
  'name': 'grace'}]

In [23]:
# 특정 field만 update하고 싶다면 $set 연산자를 이용

employee.update({'name': 'kyle'}, {'$set': {'age': 100}})
list(employee.find({'name': 'kyle'}))

/Users/grace/workspace/keras/venv/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  This is separate from the ipykernel package so we can avoid doing imports until

{'$clusterTime': {'clusterTime': Timestamp(1541626434, 3),
  'signature': {'hash': b'i\x9e\xfd\x81\x8f\xd3l\xab\xf8\x00\x98\xfab\x88j\x85Y\xf7:\xee',
   'keyId': 6605358658400288769}},
 'electionId': ObjectId('7fffffff0000000000000007'),
 'n': 1,
 'nModified': 1,
 'ok': 1.0,
 'opTime': {'t': 7, 'ts': Timestamp(1541626434, 3)},
 'operationTime': Timestamp(1541626434, 3),
 'updatedExisting': True}

[{'_id': ObjectId('5be35a41827e3c460a886422'),
  'address': 'london',
  'age': 100,
  'department': 'Finance',
  'name': 'kyle'}]

In [24]:
# updateOne

employee.update_one({'name':'kyle'}, {'$set': {'community':'board games'}})
list(employee.find({'name':'kyle'}))

[{'_id': ObjectId('5be35a41827e3c460a886422'),
  'address': 'london',
  'age': 100,
  'community': 'board games',
  'department': 'Finance',
  'name': 'kyle'}]

In [25]:
# updateMany

employee.update_many({'department':'Finance'}, {'$set': {'community':'finance simulation'}})
list(employee.find({'department':'Finance'}))

[{'_id': ObjectId('5be35a41827e3c460a886422'),
  'address': 'london',
  'age': 100,
  'community': 'finance simulation',
  'department': 'Finance',
  'name': 'kyle'},
 {'_id': ObjectId('5be35a41827e3c460a886425'),
  'address': 'newyork',
  'age': 54,
  'community': 'finance simulation',
  'department': 'Finance',
  'name': 'ellen'}]

#### Sort

In [26]:
list(employee.find().sort('age', -1))

[{'_id': ObjectId('5be35a41827e3c460a886422'),
  'address': 'london',
  'age': 100,
  'community': 'finance simulation',
  'department': 'Finance',
  'name': 'kyle'},
 {'_id': ObjectId('5be35a41827e3c460a886425'),
  'address': 'newyork',
  'age': 54,
  'community': 'finance simulation',
  'department': 'Finance',
  'name': 'ellen'},
 {'_id': ObjectId('5be35a41827e3c460a886423'),
  'address': 'seoul',
  'age': 37,
  'department': 'HR',
  'name': 'john'},
 {'_id': ObjectId('5be35a41827e3c460a886424'),
  'address': 'london',
  'age': 28,
  'department': 'IT',
  'name': 'tom'},
 {'_id': ObjectId('5be35a41827e3c460a886421'),
  'address': 'london',
  'age': 5,
  'name': 'grace'}]

#### Distinct

In [27]:
list(employee.find().distinct('address'))

['london', 'seoul', 'newyork']

#### Count

In [28]:
employee.count_documents({})

5

In [29]:
employee.count_documents({'address':'london'})

3