# Pandas로 MongoDB의 Data 처리하기

In [2]:
from pymongo import MongoClient

In [ ]:
# mongoDB에 접속할 client 생성
murl = ''

client = MongoClient(murl, 27017)

In [5]:
import mongo_conn

client = mongo_conn.get_client()

In [6]:
football_database = client.Football

In [7]:
match_collection = football_database.wc_match

In [8]:
match_collection.count_documents({})

64

## 국가별 득점 랭킹

### 국가별 득점 가져오기(PyMongo)

* **Data 구조 확인**
    - 경기 { 경기 일자, 홈팀 { 국가, 득점, 선수 { 선수기록들 } }, 원정팀 { 국가, 득점, 선수 { 선수기록들 } } }

In [9]:
list(match_collection.find({}))[0]

{'_id': ObjectId('5be05afeee0a5a6e9fe341e8'),
 'date': '14 JUN 2018 18:00',
 'home_team': {'score': 5,
  'players': [{'DC': 3606.0,
    'Total_PP': 0.52,
    'Medium_PA': 2.0,
    'TTP': 5808.0,
    'position': 'GK',
    'num': 1,
    'Short_PA': 1.0,
    'Total_PC': 11.0,
    'DCNIP': 1215.0,
    'Long_PC': 8.0,
    'name': 'Igor AKINFEEV',
    'Short_PC': 1.0,
    'SPRINT': 1.0,
    'Medium_PC': 2.0,
    'club': 'CSKA Moskva (RUS)',
    'DCIP': 1047.0,
    'Total_PA': 21.0,
    'Long_PA': 18.0,
    'TS': 21.46},
   {'DC': 10822.0,
    'Medium_PA': 16.0,
    'DCIP': 3452.0,
    'Short_PA': 4.0,
    'DCNIP': 4668.0,
    'Long_PC': 5.0,
    'name': 'MARIO FERNANDES',
    'Short_PC': 4.0,
    'Total_PP': 0.88,
    'SPRINT': 48.0,
    'club': 'CSKA Moskva (RUS)',
    'TA3RD': 0.12,
    'Total_PA': 25.0,
    'TPA': 0.01,
    'position': 'DF',
    'num': 2,
    'Medium_PC': 13.0,
    'Long_PA': 5.0,
    'TTP': 5808.0,
    'TOH': 0.34,
    'Total_PC': 22.0,
    'TS': 31.5},
   {'DC': 9987.0,
    'Medium_PA': 19.0,
    'DCIP': 2859.0,
    'Short_PA': 2.0,
    'DCNIP': 4698.0,
    'Long_PC': 8.0,
    'name': 'Ilya KUTEPOV',
    'Short_PC': 2.0,
    'Total_PP': 0.84,
    'SPRINT': 24.0,
    'club': 'Spartak Moskva (RUS)',
    'TA3RD': 0.06,
    'Total_PA': 31.0,
    'TPA': 0.02,
    'position': 'DF',
    'num': 3,
    'Medium_PC': 16.0,
    'Long_PA': 10.0,
    'TTP': 5808.0,
    'TOH': 0.19,
    'Total_PC': 26.0,
    'TS': 27.36},
   {'DC': 10108.0,
    'Medium_PA': 22.0,
    'DCIP': 2912.0,
    'Short_PA': 3.0,
    'DCNIP': 4675.0,
    'Long_PC': 10.0,
    'name': 'Sergey IGNASHEVICH',
    'Short_PC': 3.0,
    'Total_PP': 0.81,
    'SPRINT': 12.0,
    'club': 'CSKA Moskva (RUS)',
    'TA3RD': 0.08,
    'Total_PA': 37.0,
    'TPA': 0.03,
    'position': 'DF',
    'num': 4,
    'Medium_PC': 17.0,
    'Long_PA': 12.0,
    'TTP': 5808.0,
    'TOH': 0.19,
    'Total_PC': 30.0,
    'TS': 29.48},
   {'DC': 9030.0,
    'Medium_PA': 12.0,
    'DCIP': 2894.0,
    'Short_PA': 7.0,
    'DCNIP': 4064.0,
    'Long_PC': 0.0,
    'name': 'Denis CHERYSHEV',
    'Short_PC': 5.0,
    'Total_PP': 0.68,
    'SPRINT': 49.0,
    'club': 'Villarreal CF (ESP)',
    'TA3RD': 0.27,
    'Total_PA': 19.0,
    'TPA': 0.03,
    'position': 'MF',
    'num': 6,
    'Medium_PC': 8.0,
    'Total_PC': 13.0,
    'TSCORE': 5401.0,
    'TTP': 4402.0,
    'TOH': 0.59,
    'Long_PA': 0.0,
    'TS': 31.03},
   {'DC': 3895.0,
    'Medium_PA': 3.0,
    'DCIP': 1182.0,
    'Short_PA': 2.0,
    'DCNIP': 1689.0,
    'Long_PC': 1.0,
    'name': 'Daler KUZIAEV',
    'Short_PC': 2.0,
    'Total_PP': 0.86,
    'SPRINT': 15.0,
    'club': 'Zenit St. Petersburg (RUS)',
    'TA3RD': 0.34,
    'Total_PA': 7.0,
    'TPA': 0.03,
    'position': 'MF',
    'num': 7,
    'Medium_PC': 3.0,
    'Long_PA': 2.0,
    'TTP': 1859.0,
    'TOH': 0.55,
    'Total_PC': 6.0,
    'TS': 26.28},
   {'DC': 12240.0,
    'Medium_PA': 21.0,
    'DCIP': 3558.0,
    'Short_PA': 4.0,
    'DCNIP': 6117.0,
    'Long_PC': 5.0,
    'name': 'Iury GAZINSKY',
    'Short_PC': 4.0,
    'Total_PP': 0.8,
    'SPRINT': 38.0,
    'club': 'Krasnodar (RUS)',
    'TA3RD': 0.18,
    'Total_PA': 30.0,
    'TPA': 0.04,
    'position': 'MF',
    'num': 8,
    'Medium_PC': 15.0,
    'Long_PA': 5.0,
    'TTP': 5808.0,
    'TOH': 0.45,
    'Total_PC': 24.0,
    'TS': 27.22},
   {'DC': 3029.0,
    'Medium_PA': 5.0,
    'DCIP': 1203.0,
    'Short_PA': 1.0,
    'DCNIP': 1236.0,
    'Long_PC': 2.0,
    'name': 'Alan DZAGOEV',
    'Short_PC': 1.0,
    'Total_PP': 0.88,
    'SPRINT': 12.0,
    'club': 'CSKA Moskva (RUS)',
    'TA3RD': 0.38,
    'Total_PA': 8.0,
    'TPA': 0.17,
    'position': 'MF',
    'num': 9,
    'Medium_PC': 4.0,
    'Long_PA': 2.0,
    'TTP': 1406.0,
    'TOH': 0.68,
    'Total_PC': 7.0,
    'TS': 29.48},
   {'DC': 8787.0,
    'Medium_PA': 10.0,
    'DCIP': 3059.0,
    'Short_PA': 4.0,
    'DCNIP': 3722.0,
    'Long_PC': 0.0,
    'name': 'Fedor SMOLOV',
    'Short_PC': 3.0,
    'Total_PP': 0.79,
    'SPRINT': 46.0,
    'club': 'Krasnodar (RUS)',
    'TA3RD': 0.44,
    'Total_PA': 14.0,
    'TPA': 0.1,
    'position': 'FW',
    'num': 10,
    'Medium_PC': 8.0,
    'Long_PA': 0.0,
    'TTP': 4286.0,
    'TOH': 0.73,
    'Total_PC': 11.0,
    'TS': 30.17},
   {'DC': 11753.0,
    'Medium_PA': 17.0,
    'DCIP': 3663.0,
    'Short_PA': 7.0,
    'DCNIP': 5404.0,
    'Long_PC': 1.0,
    'name': 'Roman ZOBNIN',
    'Short_PC': 5.0,
    'Total_PP': 0.65,
    'SPRINT': 38.0,
    'club': 'Spartak Moskva (RUS)',
    'TA3RD': 0.23,
    'Total_PA': 26.0,
    'TPA': 0.05,
    'position': 'MF',
    'num': 11,
    'Medium_PC': 11.0,
    'Long_PA': 2.0,
    'TTP': 5808.0,
    'TOH': 0.52,
    'Total_PC': 17.0,
    'TS': 29.23},
   {'DC': 12706.0,
    'Medium_PA': 20.0,
    'DCIP': 3884.0,
    'Short_PA': 7.0,
    'DCNIP': 5944.0,
    'Long_PC': 3.0,
    'name': 'Aleksandr GOLOVIN',
    'Short_PC': 7.0,
    'Total_PP': 0.84,
    'SPRINT': 69.0,
    'club': 'CSKA Moskva (RUS)',
    'TA3RD': 0.37,
    'Total_PA': 32.0,
    'TPA': 0.04,
    'position': 'MF',
    'num': 17,
    'Medium_PC': 17.0,
    'Total_PC': 27.0,
    'TSCORE': 5404.0,
    'TTP': 5808.0,
    'TOH': 0.69,
    'Long_PA': 5.0,
    'TS': 30.6},
   {'DC': 11020.0,
    'Medium_PA': 15.0,
    'DCIP': 3448.0,
    'Short_PA': 7.0,
    'DCNIP': 4773.0,
    'Long_PC': 5.0,
    'name': 'Yury ZHIRKOV',
    'Short_PC': 7.0,
    'Total_PP': 0.89,
    'SPRINT': 35.0,
    'club': 'Zenit St. Petersburg (RUS)',
    'TA3RD': 0.12,
    'Total_PA': 28.0,
    'TPA': 0.01,
    'position': 'MF',
    'num': 18,
    'Medium_PC': 13.0,
    'Long_PA': 6.0,
    'TTP': 5808.0,
    'TOH': 0.32,
    'Total_PC': 25.0,
    'TS': 28.58},
   {'DC': 8300.0,
    'Medium_PA': 10.0,
    'DCIP': 2632.0,
    'Short_PA': 3.0,
    'DCNIP': 3835.0,
    'Long_PC': 2.0,
    'name': 'Alexander SAMEDOV',
    'Short_PC': 3.0,
    'Total_PP': 0.81,
    'SPRINT': 37.0,
    'club': 'Spartak Moskva (RUS)',
    'TA3RD': 0.28,
    'Total_PA': 16.0,
    'TPA': 0.04,
    'position': 'MF',
    'num': 19,
    'Medium_PC': 8.0,
    'Long_PA': 3.0,
    'TTP': 3949.0,
    'TOH': 0.62,
    'Total_PC': 13.0,
    'TS': 28.8},
   {'DC': 2680.0,
    'Medium_PA': 5.0,
    'DCIP': 803.0,
    'Short_PA': 2.0,
    'DCNIP': 1168.0,
    'Long_PC': 1.0,
    'name': 'Artem DZYUBA',
    'Short_PC': 2.0,
    'Total_PP': 1.0,
    'SPRINT': 14.0,
    'club': 'Arsenal Tula (RUS)',
    'TA3RD': 0.5,
    'Total_PA': 8.0,
    'TPA': 0.21,
    'position': 'FW',
    'num': 22,
    'Medium_PC': 5.0,
    'Long_PA': 1.0,
    'TTP': 1522.0,
    'TOH': 0.8,
    'Total_PC': 8.0,
    'TS': 26.64}],
  'country': 'Russia'},
 'away_team': {'score': 0,
  'players': [{'DC': 4027.0,
    'Total_PP': 0.56,
    'Medium_PA': 9.0,
    'TTP': 5808.0,
    'position': 'GK',
    'num': 1,
    'Short_PA': 0.0,
    'Total_PC': 19.0,
    'DCNIP': 1252.0,
    'Long_PC': 10.0,
    'name': 'ABDULLAH ALMUAIOUF',
    'Short_PC': 0.0,
    'SPRINT': 1.0,
    'Medium_PC': 9.0,
    'club': 'Al Hilal (KSA)',
    'DCIP': 1818.0,
    'Total_PA': 34.0,
    'Long_PA': 25.0,
    'TS': 14.83},
   {'DC': 7997.0,
    'Medium_PA': 39.0,
    'DCIP': 2836.0,
    'Short_PA': 10.0,
    'DCNIP': 3301.0,
    'Long_PC': 7.0,
    'name': 'OSAMA HAWSAWI',
    'Short_PC': 9.0,
    'Total_PP': 0.91,
    'SPRINT': 30.0,
    'club': 'Al Hilal (KSA)',
    'TA3RD': 0.05,
    'Total_PA': 57.0,
    'TPA': 0.02,
    'position': 'DF',
    'num': 3,
    'Medium_PC': 36.0,
    'Long_PA': 8.0,
    'TTP': 5808.0,
    'TOH': 0.08,
    'Total_PC': 52.0,
    'TS': 27.9},
   {'DC': 9040.0,
    'Medium_PA': 30.0,
    'DCIP': 3494.0,
    'Short_PA': 10.0,
    'DCNIP': 3465.0,
    'Long_PC': 7.0,
    'name': 'OMAR HAWSAWI',
    'Short_PC': 9.0,
    'Total_PP': 0.81,
    'SPRINT': 47.0,
    'club': 'Al Nasr (KSA)',
    'TA3RD': 0.04,
    'Total_PA': 53.0,
    'TPA': 0.03,
    'position': 'DF',
    'num': 5,
    'Medium_PC': 27.0,
    'Long_PA': 13.0,
    'TTP': 5808.0,
    'TOH': 0.11,
    'Total_PC': 43.0,
    'TS': 29.48},
   {'DC': 9951.0,
    'Total_PP': 0.86,
    'Medium_PA': 36.0,
    'TTP': 5808.0,
    'position': 'DF',
    'num': 6,
    'Short_PA': 24.0,
    'Total_PC': 55.0,
    'DCNIP': 3774.0,
    'Long_PC': 3.0,
    'name': 'MOHAMMED ALBURAYK',
    'Short_PC': 22.0,
    'SPRINT': 47.0,
    'Medium_PC': 30.0,
    'club': 'Al Hilal (KSA)',
    'TA3RD': 0.06,
    'DCIP': 3942.0,
    'TOH': 0.24,
    'Total_PA': 64.0,
    'Long_PA': 4.0,
    'TS': 28.8},
   {'DC': 11323.0,
    'Medium_PA': 48.0,
    'DCIP': 4986.0,
    'Short_PA': 19.0,
    'DCNIP': 3969.0,
    'Long_PC': 8.0,
    'name': 'SALMAN ALFARAJ',
    'Short_PC': 17.0,
    'Total_PP': 0.92,
    'SPRINT': 52.0,
    'club': 'Al Hilal (KSA)',
    'TA3RD': 0.13,
    'Total_PA': 77.0,
    'TPA': 0.01,
    'position': 'MF',
    'num': 7,
    'Medium_PC': 46.0,
    'Long_PA': 10.0,
    'TTP': 5808.0,
    'TOH': 0.38,
    'Total_PC': 71.0,
    'TS': 28.37},
   {'DC': 8587.0,
    'Medium_PA': 16.0,
    'DCIP': 3765.0,
    'Short_PA': 13.0,
    'DCNIP': 2998.0,
    'Long_PC': 1.0,
    'name': 'YAHIA ALSHEHRI',
    'Short_PC': 12.0,
    'Total_PP': 0.9,
    'SPRINT': 34.0,
    'club': 'Leganes (ESP)',
    'TA3RD': 0.21,
    'Total_PA': 30.0,
    'TPA': 0.04,
    'position': 'MF',
    'num': 8,
    'Medium_PC': 14.0,
    'Long_PA': 1.0,
    'TTP': 4430.0,
    'TOH': 0.52,
    'Total_PC': 27.0,
    'TS': 30.38},
   {'DC': 2374.0,
    'Medium_PA': 2.0,
    'DCIP': 1054.0,
    'Short_PA': 3.0,
    'DCNIP': 751.0,
    'Long_PC': 0.0,
    'name': 'HATAN BAHBRI',
    'Short_PC': 3.0,
    'Total_PP': 0.8,
    'SPRINT': 7.0,
    'club': 'Al Shabab (KSA)',
    'TA3RD': 0.22,
    'Total_PA': 5.0,
    'TPA': 0.01,
    'position': 'MF',
    'num': 9,
    'Medium_PC': 1.0,
    'Long_PA': 0.0,
    'TTP': 1378.0,
    'TOH': 0.51,
    'Total_PC': 4.0,
    'TS': 28.37},
   {'DC': 8854.0,
    'Medium_PA': 6.0,
    'DCIP': 4109.0,
    'Short_PA': 1.0,
    'DCNIP': 2808.0,
    'Long_PC': 0.0,
    'name': 'MOHAMMED ALSAHLAWI',
    'Short_PC': 1.0,
    'Total_PP': 1.0,
    'SPRINT': 28.0,
    'club': 'Al Nasr (KSA)',
    'TA3RD': 0.29,
    'Total_PA': 7.0,
    'TPA': 0.06,
    'position': 'FW',
    'num': 10,
    'Medium_PC': 6.0,
    'Long_PA': 0.0,
    'TTP': 5164.0,
    'TOH': 0.72,
    'Total_PC': 7.0,
    'TS': 30.6},
   {'DC': 10509.0,
    'Medium_PA': 29.0,
    'DCIP': 4027.0,
    'Short_PA': 16.0,
    'DCNIP': 3726.0,
    'Long_PC': 2.0,
    'name': 'YASSER ALSHAHRANI',
    'Short_PC': 16.0,
    'Total_PP': 0.82,
    'SPRINT': 50.0,
    'club': 'Al Hilal (KSA)',
    'TA3RD': 0.12,
    'Total_PA': 49.0,
    'TPA': 0.01,
    'position': 'DF',
    'num': 13,
    'Medium_PC': 22.0,
    'Long_PA': 4.0,
    'TTP': 5808.0,
    'TOH': 0.29,
    'Total_PC': 40.0,
    'TS': 32.4},
   {'DC': 8137.0,
    'Medium_PA': 23.0,
    'DCIP': 3529.0,
    'Short_PA': 21.0,
    'DCNIP': 3003.0,
    'Long_PC': 5.0,
    'name': 'ABDULLAH OTAYF',
    'Short_PC': 20.0,
    'Total_PP': 0.92,
    'SPRINT': 21.0,
    'club': 'Al Hilal (KSA)',
    'TA3RD': 0.11,
    'Total_PA': 51.0,
    'TPA': 0.03,
    'position': 'MF',
    'num': 14,
    'Medium_PC': 22.0,
    'Long_PA': 7.0,
    'TTP': 3932.0,
    'TOH': 0.28,
    'Total_PC': 47.0,
    'TS': 27.9},
   {'DC': 10874.0,
    'Medium_PA': 25.0,
    'DCIP': 4456.0,
    'Short_PA': 13.0,
    'DCNIP': 3810.0,
    'Long_PC': 1.0,
    'name': 'TAISEER ALJASSAM',
    'Short_PC': 12.0,
    'Total_PP': 0.92,
    'SPRINT': 26.0,
    'club': 'Al Ahli (KSA)',
    'TA3RD': 0.13,
    'Total_PA': 40.0,
    'TPA': 0.02,
    'position': 'MF',
    'num': 17,
    'Medium_PC': 24.0,
    'Long_PA': 2.0,
    'TTP': 5808.0,
    'TOH': 0.4,
    'Total_PC': 37.0,
    'TS': 27.0},
   {'DC': 10066.0,
    'Medium_PA': 18.0,
    'DCIP': 4440.0,
    'Short_PA': 17.0,
    'DCNIP': 3284.0,
    'Long_PC': 6.0,
    'name': 'SALEM ALDAWSARI',
    'Short_PC': 16.0,
    'Total_PP': 0.93,
    'SPRINT': 43.0,
    'club': 'Villarreal CF (ESP)',
    'TA3RD': 0.16,
    'Total_PA': 42.0,
    'TPA': 0.01,
    'position': 'MF',
    'num': 18,
    'Medium_PC': 17.0,
    'Long_PA': 7.0,
    'TTP': 5808.0,
    'TOH': 0.47,
    'Total_PC': 39.0,
    'TS': 29.02},
   {'DC': 2828.0,
    'Medium_PA': 0.0,
    'DCIP': 1066.0,
    'Short_PA': 1.0,
    'DCNIP': 898.0,
    'Long_PC': 0.0,
    'name': 'FAHAD ALMUWALLAD',
    'Short_PC': 1.0,
    'Total_PP': 1.0,
    'SPRINT': 15.0,
    'club': 'Levante UD (ESP)',
    'TA3RD': 0.37,
    'Total_PA': 1.0,
    'TPA': 0.05,
    'position': 'FW',
    'num': 19,
    'Medium_PC': 0.0,
    'Long_PA': 0.0,
    'TTP': 1876.0,
    'TOH': 0.68,
    'Total_PC': 1.0,
    'TS': 23.94},
   {'DC': 786.0,
    'Medium_PA': 0.0,
    'DCIP': 226.0,
    'Short_PA': 1.0,
    'DCNIP': 208.0,
    'Long_PC': 0.0,
    'name': 'MUHANNAD ASIRI',
    'Short_PC': 1.0,
    'Total_PP': 1.0,
    'SPRINT': 2.0,
    'club': 'Al Ahli (KSA)',
    'TA3RD': 0.3,
    'Total_PA': 1.0,
    'TPA': 0.06,
    'position': 'FW',
    'num': 20,
    'Medium_PC': 0.0,
    'Long_PA': 0.0,
    'TTP': 644.0,
    'TOH': 0.47,
    'Total_PC': 1.0,
    'TS': 20.84}],
  'country': 'Saudi Arabia'}}

* 원하는 Data 가져오기
    - Aggregate(Group By)를 이용하여 국가별 홈경기 총 득점, 원정경기 총 득점 Load

In [11]:
# pymongo를 이용한 MongoDB 결과값은 Cursor의 형태
# Cursor는 일종의 휘발성 변수로 1회 호출 후 바로 Memory에서 삭제
# 반드시 List, DataFrame 등으로 전환해야 지속적으로 사용 가능

home_goals = list(match_collection.aggregate([
    {'$group': {
        '_id': '$home_team.country',
        'home_goal': {'$sum' : '$home_team.score'}
    }},
    {'$sort': {'home_goal': -1}}
]))

away_goals = list(match_collection.aggregate([
    {'$group': {
        '_id': '$away_team.country',
        'away_goal': {'$sum' : '$away_team.score'}
    }},
    {'$sort': {'away_goal': -1}}
]))

* MongoDB에는 Join이 없기 때문의 위의 두 결과(국가별 홈경기 총득점과 원정경기 총득점)의 합을 구하기가 어려움
* MongoDB에서 복잡하지 않게 가능한 수준의 Filtering, Aggregating 된 결과를 Pandas를 통해 분석 수행하는 것이 보다 용이

### 국가별 득점 합치기

In [12]:
import pandas as pd

home_goal_pd = pd.DataFrame(home_goals)
away_goal_pd = pd.DataFrame(away_goals)

In [13]:
home_goal_pd.head()

       _id  home_goal
0  Belgium         13
1   France         12
2   Russia         10
3  England          6
4   Brazil          6

In [14]:
away_goal_pd.head()

         _id  away_goal
0    Croatia          9
1    England          6
2  Argentina          5
3   Colombia          4
4    Tunisia          4

* Pandas에서 2개 이상의 DataFrame을 하나로 합치는 방법은 3가지가 존재
    1. Merge
    2. Join
    3. Concatenate

##### 1. Merge

In [19]:
# 기본적으로는 동일한 Column 명을 Key로 Inner Join 수행
pd.merge(home_goal_pd, away_goal_pd)

               _id  home_goal  away_goal
0          Belgium         13          3
1           France         12          2
2           Russia         10          1
3          England          6          6
4           Brazil          6          2
5          Uruguay          6          1
6          Croatia          5          9
7         Portugal          4          2
8   Korea Republic          3          0
9          Nigeria          3          0
10           Spain          3          4
11     Switzerland          2          3
12        Colombia          2          4
13    Saudi Arabia          2          0
14           Japan          2          4
15         Germany          2          0
16          Sweden          2          4
17          Serbia          1          1
18          Panama          1          1
19         IR Iran          1          1
20          Poland          1          1
21         Iceland          1          1
22         Tunisia          1          4
23       Argentina          1          5
24         Denmark          1          2
25         Senegal          0          4
26       Australia          0          2
27      Costa Rica          0          2
28            Peru          0          2
29           Egypt          0          2
30         Morocco          0          2
31          Mexico          0          3

In [20]:
# 경우에 따라 parameter를 통해 Join 방식(how), Join Key(on) 지정 가능
pd.merge(home_goal_pd, away_goal_pd, how='inner', on='_id')

               _id  home_goal  away_goal
0          Belgium         13          3
1           France         12          2
2           Russia         10          1
3          England          6          6
4           Brazil          6          2
5          Uruguay          6          1
6          Croatia          5          9
7         Portugal          4          2
8   Korea Republic          3          0
9          Nigeria          3          0
10           Spain          3          4
11     Switzerland          2          3
12        Colombia          2          4
13    Saudi Arabia          2          0
14           Japan          2          4
15         Germany          2          0
16          Sweden          2          4
17          Serbia          1          1
18          Panama          1          1
19         IR Iran          1          1
20          Poland          1          1
21         Iceland          1          1
22         Tunisia          1          4
23       Argentina          1          5
24         Denmark          1          2
25         Senegal          0          4
26       Australia          0          2
27      Costa Rica          0          2
28            Peru          0          2
29           Egypt          0          2
30         Morocco          0          2
31          Mexico          0          3

##### 2. Join

In [28]:
# Join을 이용하여 동일한 결과 가능
# Index를 기준으로 하는 것이 보편적
# 단, Join이 수행되는 두 DataFrame에 동일한 Column 명이 존재하는 경우 suffix 지정이 필수
home_goal_pd.set_index('_id').join(away_goal_pd.set_index('_id'), lsuffix='_home', rsuffix='_away')

                home_goal  away_goal
_id
Belgium                13          3
France                 12          2
Russia                 10          1
England                 6          6
Brazil                  6          2
Uruguay                 6          1
Croatia                 5          9
Portugal                4          2
Korea Republic          3          0
Nigeria                 3          0
Spain                   3          4
Switzerland             2          3
Colombia                2          4
Saudi Arabia            2          0
Japan                   2          4
Germany                 2          0
Sweden                  2          4
Serbia                  1          1
Panama                  1          1
IR Iran                 1          1
Poland                  1          1
Iceland                 1          1
Tunisia                 1          4
Argentina               1          5
Denmark                 1          2
Senegal                 0          4
Australia               0          2
Costa Rica              0          2
Peru                    0          2
Egypt                   0          2
Morocco                 0          2
Mexico                  0          3

##### 3. Concatenate

In [29]:
# Concatenate는 2개 이상의 DataFrame을 그대로 이어 붙이는 형태 (일종의 UNION ALL)
pd.concat([home_goal_pd, away_goal_pd])

               _id  away_goal  home_goal
0          Belgium        NaN       13.0
1           France        NaN       12.0
2           Russia        NaN       10.0
3          England        NaN        6.0
4           Brazil        NaN        6.0
5          Uruguay        NaN        6.0
6          Croatia        NaN        5.0
7         Portugal        NaN        4.0
8   Korea Republic        NaN        3.0
9          Nigeria        NaN        3.0
10           Spain        NaN        3.0
11     Switzerland        NaN        2.0
12        Colombia        NaN        2.0
13    Saudi Arabia        NaN        2.0
14           Japan        NaN        2.0
15         Germany        NaN        2.0
16          Sweden        NaN        2.0
17          Serbia        NaN        1.0
18          Panama        NaN        1.0
19         IR Iran        NaN        1.0
20          Poland        NaN        1.0
21         Iceland        NaN        1.0
22         Tunisia        NaN        1.0
23       Argentina        NaN        1.0
24         Denmark        NaN        1.0
25         Senegal        NaN        0.0
26       Australia        NaN        0.0
27      Costa Rica        NaN        0.0
28            Peru        NaN        0.0
29           Egypt        NaN        0.0
..             ...        ...        ...
2        Argentina        5.0        NaN
3         Colombia        4.0        NaN
4          Tunisia        4.0        NaN
5          Senegal        4.0        NaN
6            Spain        4.0        NaN
7            Japan        4.0        NaN
8           Sweden        4.0        NaN
9          Belgium        3.0        NaN
10     Switzerland        3.0        NaN
11          Mexico        3.0        NaN
12          Brazil        2.0        NaN
13          France        2.0        NaN
14        Portugal        2.0        NaN
15      Costa Rica        2.0        NaN
16       Australia        2.0        NaN
17         Denmark        2.0        NaN
18         Morocco        2.0        NaN
19           Egypt        2.0        NaN
20            Peru        2.0        NaN
21          Poland        1.0        NaN
22         Uruguay        1.0        NaN
23          Serbia        1.0        NaN
24          Russia        1.0        NaN
25         IR Iran        1.0        NaN
26          Panama        1.0        NaN
27         Iceland        1.0        NaN
28         Germany        0.0        NaN
29  Korea Republic        0.0        NaN
30    Saudi Arabia        0.0        NaN
31         Nigeria        0.0        NaN

[64 rows x 3 columns]

### 홈경기 득점과 원정경기 득점을 병합하고 총 득점 계산

In [36]:
total_goals = pd.merge(home_goal_pd, away_goal_pd)
total_goals.head()

       _id  home_goal  away_goal
0  Belgium         13          3
1   France         12          2
2   Russia         10          1
3  England          6          6
4   Brazil          6          2

In [37]:
# total_goal = home_goal + away_gaol

total_goals['total_goals_1'] = total_goals.home_goal + total_goals.away_goal
total_goals.head()

       _id  home_goal  away_goal  total_goals_1
0  Belgium         13          3             16
1   France         12          2             14
2   Russia         10          1             11
3  England          6          6             12
4   Brazil          6          2              8

In [39]:
# Apply 함수와 Lambda 이용
# Apply 함수의 axis가 0인 경우 Column, 1인 경우 Row를 Iterate 하면서 Function을 수행

total_goals['total_goals_2'] = total_goals.apply(lambda x: x.home_goal + x.away_goal, axis=1)
total_goals.head()

       _id  home_goal  away_goal  total_goals_1  total_goals_2
0  Belgium         13          3             16             16
1   France         12          2             14             14
2   Russia         10          1             11             11
3  England          6          6             12             12
4   Brazil          6          2              8              8

### 득점 순으로 정렬하기

In [41]:
# sort_values 함수는 DataFrame을 특정 Column의 값을 기준으로 정렬
# ascending Option은 기본은 True(오름차순)이나 False로 지정시 내림차순으로 정렬

total_goals.sort_values('total_goals_2', ascending=False)

               _id  home_goal  away_goal  total_goals_1  total_goals_2
0          Belgium         13          3             16             16
6          Croatia          5          9             14             14
1           France         12          2             14             14
3          England          6          6             12             12
2           Russia         10          1             11             11
4           Brazil          6          2              8              8
5          Uruguay          6          1              7              7
10           Spain          3          4              7              7
12        Colombia          2          4              6              6
23       Argentina          1          5              6              6
14           Japan          2          4              6              6
16          Sweden          2          4              6              6
7         Portugal          4          2              6              6
11     Switzerland          2          3              5              5
22         Tunisia          1          4              5              5
25         Senegal          0          4              4              4
9          Nigeria          3          0              3              3
8   Korea Republic          3          0              3              3
24         Denmark          1          2              3              3
31          Mexico          0          3              3              3
20          Poland          1          1              2              2
21         Iceland          1          1              2              2
13    Saudi Arabia          2          0              2              2
19         IR Iran          1          1              2              2
18          Panama          1          1              2              2
17          Serbia          1          1              2              2
26       Australia          0          2              2              2
27      Costa Rica          0          2              2              2
28            Peru          0          2              2              2
29           Egypt          0          2              2              2
30         Morocco          0          2              2              2
15         Germany          2          0              2              2