In [1]:
!pip install --upgrade pymongo

Requirement already up-to-date: pymongo in /Users/grace/workspace/keras/venv/lib/python3.6/site-packages (3.7.2)
textract 1.6.1 has requirement chardet==2.3.0, but you'll have chardet 3.0.4 which is incompatible.
spyder-kernels 0.2.6 has requirement ipykernel>=4.8.2, but you'll have ipykernel 4.8.1 which is incompatible.
spyder-kernels 0.2.6 has requirement jupyter-client>=5.2.3, but you'll have jupyter-client 5.2.2 which is incompatible.
spyder-kernels 0.2.6 has requirement pyzmq>=17, but you'll have pyzmq 16.0.4 which is incompatible.
You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
from pymongo import MongoClient

In [13]:
client = MongoClient('atlas, standard connection string', 27017)

In [14]:
client

MongoClient(host=['cluster0-shard-00-01-8m9q3.mongodb.net:27017', 'cluster0-shard-00-00-8m9q3.mongodb.net:27017', 'cluster0-shard-00-02-8m9q3.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True, replicaset='Cluster0-shard-0', authsource='admin', retrywrites=True)

## Database

In [15]:
company_db = client.Company

In [16]:
company_db.collection_names()

/Users/grace/workspace/keras/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  """Entry point for launching an IPython kernel.

[]

In [17]:
emp_col = company_db.Employee

In [18]:
emp_col

Collection(Database(MongoClient(host=['cluster0-shard-00-01-8m9q3.mongodb.net:27017', 'cluster0-shard-00-00-8m9q3.mongodb.net:27017', 'cluster0-shard-00-02-8m9q3.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True, replicaset='Cluster0-shard-0', authsource='admin', retrywrites=True), 'Company'), 'Employee')

In [19]:
emp_col.insert({'name':'grace'})

/Users/grace/workspace/keras/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  """Entry point for launching an IPython kernel.

ObjectId('5be42757827e3c569bc0dd56')

In [21]:
cursor = emp_col.find()

In [22]:
list(cursor)

[{'_id': ObjectId('5be42757827e3c569bc0dd56'), 'name': 'grace'}]

In [23]:
cursor = emp_col.find({'name':'grace'})

In [24]:
list(cursor)

[{'_id': ObjectId('5be42757827e3c569bc0dd56'), 'name': 'grace'}]

In [25]:
emp_col.remove({'name':'grace'})

/Users/grace/workspace/keras/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  """Entry point for launching an IPython kernel.

{'$clusterTime': {'clusterTime': Timestamp(1541679016, 1),
  'signature': {'hash': b'\xcd\x1c\x88\x19\xf8TG\xa4F\t\xdc\xc2wt\xe5\x94)\xa8e\xdd',
   'keyId': 6605358658400288769}},
 'electionId': ObjectId('7fffffff0000000000000008'),
 'n': 1,
 'ok': 1.0,
 'opTime': {'t': 8, 'ts': Timestamp(1541679016, 1)},
 'operationTime': Timestamp(1541679016, 1)}

In [27]:
list(emp_col.find())

[]

## randint

In [28]:
people = ['grace', 'kyle', 'kim', 'Lee']
city = ['seoul', 'newyork', 'london']
department = ['it', 'finance', 'HR']

In [29]:
from random import *

In [30]:
for person in people:
    emp_col.insert({'name': person,
                  'age': randint(20, 60),
                  'address': city[randint(0, 2)],
                  'department': department[randint(0, 2)]})

/Users/grace/workspace/keras/venv/lib/python3.6/site-packages/ipykernel_launcher.py:5: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  """

ObjectId('5be4288b827e3c569bc0dd57')

ObjectId('5be4288b827e3c569bc0dd58')

ObjectId('5be4288c827e3c569bc0dd59')

ObjectId('5be4288c827e3c569bc0dd5a')

In [32]:
list(emp_col.find())

[{'_id': ObjectId('5be4288b827e3c569bc0dd57'),
  'address': 'london',
  'age': 44,
  'department': 'finance',
  'name': 'grace'},
 {'_id': ObjectId('5be4288b827e3c569bc0dd58'),
  'address': 'london',
  'age': 58,
  'department': 'HR',
  'name': 'kyle'},
 {'_id': ObjectId('5be4288c827e3c569bc0dd59'),
  'address': 'london',
  'age': 38,
  'department': 'HR',
  'name': 'kim'},
 {'_id': ObjectId('5be4288c827e3c569bc0dd5a'),
  'address': 'london',
  'age': 57,
  'department': 'finance',
  'name': 'Lee'}]

# Filter

In [33]:
list(emp_col.find({'age': {'$gte':40}}))

[{'_id': ObjectId('5be4288b827e3c569bc0dd57'),
  'address': 'london',
  'age': 44,
  'department': 'finance',
  'name': 'grace'},
 {'_id': ObjectId('5be4288b827e3c569bc0dd58'),
  'address': 'london',
  'age': 58,
  'department': 'HR',
  'name': 'kyle'},
 {'_id': ObjectId('5be4288c827e3c569bc0dd5a'),
  'address': 'london',
  'age': 57,
  'department': 'finance',
  'name': 'Lee'}]

In [34]:
# Football db

In [35]:
football_db = client.Football

In [36]:
football_db

Database(MongoClient(host=['cluster0-shard-00-01-8m9q3.mongodb.net:27017', 'cluster0-shard-00-00-8m9q3.mongodb.net:27017', 'cluster0-shard-00-02-8m9q3.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True, replicaset='Cluster0-shard-0', authsource='admin', retrywrites=True), 'Football')

In [37]:
wc_c = football_db.wc_match

In [38]:
wc_c

Collection(Database(MongoClient(host=['cluster0-shard-00-01-8m9q3.mongodb.net:27017', 'cluster0-shard-00-00-8m9q3.mongodb.net:27017', 'cluster0-shard-00-02-8m9q3.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True, replicaset='Cluster0-shard-0', authsource='admin', retrywrites=True), 'Football'), 'wc_match')

In [39]:
cursor = wc_c.find()

In [40]:
list(cursor)[0]

{'_id': ObjectId('5be42a8a827e3c57416c1f9a'),
 'away_team': {'country': 'Saudi Arabia',
  'players': [{'DC': 4027.0,
    'DCIP': 1818.0,
    'DCNIP': 1252.0,
    'Long_PA': 25.0,
    'Long_PC': 10.0,
    'Medium_PA': 9.0,
    'Medium_PC': 9.0,
    'SPRINT': 1.0,
    'Short_PA': 0.0,
    'Short_PC': 0.0,
    'TS': 14.83,
    'TTP': 5808.0,
    'Total_PA': 34.0,
    'Total_PC': 19.0,
    'Total_PP': 0.56,
    'club': 'Al Hilal (KSA)',
    'name': 'ABDULLAH ALMUAIOUF',
    'num': 1,
    'position': 'GK'},
   {'DC': 7997.0,
    'DCIP': 2836.0,
    'DCNIP': 3301.0,
    'Long_PA': 8.0,
    'Long_PC': 7.0,
    'Medium_PA': 39.0,
    'Medium_PC': 36.0,
    'SPRINT': 30.0,
    'Short_PA': 10.0,
    'Short_PC': 9.0,
    'TA3RD': 0.05,
    'TOH': 0.08,
    'TPA': 0.02,
    'TS': 27.9,
    'TTP': 5808.0,
    'Total_PA': 57.0,
    'Total_PC': 52.0,
    'Total_PP': 0.91,
    'club': 'Al Hilal (KSA)',
    'name': 'OSAMA HAWSAWI',
    'num': 3,
    'position': 'DF'},
   {'DC': 9040.0,
    'DCIP': 3494.0,
    'DCNIP': 3465.0,
    'Long_PA': 13.0,
    'Long_PC': 7.0,
    'Medium_PA': 30.0,
    'Medium_PC': 27.0,
    'SPRINT': 47.0,
    'Short_PA': 10.0,
    'Short_PC': 9.0,
    'TA3RD': 0.04,
    'TOH': 0.11,
    'TPA': 0.03,
    'TS': 29.48,
    'TTP': 5808.0,
    'Total_PA': 53.0,
    'Total_PC': 43.0,
    'Total_PP': 0.81,
    'club': 'Al Nasr (KSA)',
    'name': 'OMAR HAWSAWI',
    'num': 5,
    'position': 'DF'},
   {'DC': 9951.0,
    'DCIP': 3942.0,
    'DCNIP': 3774.0,
    'Long_PA': 4.0,
    'Long_PC': 3.0,
    'Medium_PA': 36.0,
    'Medium_PC': 30.0,
    'SPRINT': 47.0,
    'Short_PA': 24.0,
    'Short_PC': 22.0,
    'TA3RD': 0.06,
    'TOH': 0.24,
    'TS': 28.8,
    'TTP': 5808.0,
    'Total_PA': 64.0,
    'Total_PC': 55.0,
    'Total_PP': 0.86,
    'club': 'Al Hilal (KSA)',
    'name': 'MOHAMMED ALBURAYK',
    'num': 6,
    'position': 'DF'},
   {'DC': 11323.0,
    'DCIP': 4986.0,
    'DCNIP': 3969.0,
    'Long_PA': 10.0,
    'Long_PC': 8.0,
    'Medium_PA': 48.0,
    'Medium_PC': 46.0,
    'SPRINT': 52.0,
    'Short_PA': 19.0,
    'Short_PC': 17.0,
    'TA3RD': 0.13,
    'TOH': 0.38,
    'TPA': 0.01,
    'TS': 28.37,
    'TTP': 5808.0,
    'Total_PA': 77.0,
    'Total_PC': 71.0,
    'Total_PP': 0.92,
    'club': 'Al Hilal (KSA)',
    'name': 'SALMAN ALFARAJ',
    'num': 7,
    'position': 'MF'},
   {'DC': 8587.0,
    'DCIP': 3765.0,
    'DCNIP': 2998.0,
    'Long_PA': 1.0,
    'Long_PC': 1.0,
    'Medium_PA': 16.0,
    'Medium_PC': 14.0,
    'SPRINT': 34.0,
    'Short_PA': 13.0,
    'Short_PC': 12.0,
    'TA3RD': 0.21,
    'TOH': 0.52,
    'TPA': 0.04,
    'TS': 30.38,
    'TTP': 4430.0,
    'Total_PA': 30.0,
    'Total_PC': 27.0,
    'Total_PP': 0.9,
    'club': 'Leganes (ESP)',
    'name': 'YAHIA ALSHEHRI',
    'num': 8,
    'position': 'MF'},
   {'DC': 2374.0,
    'DCIP': 1054.0,
    'DCNIP': 751.0,
    'Long_PA': 0.0,
    'Long_PC': 0.0,
    'Medium_PA': 2.0,
    'Medium_PC': 1.0,
    'SPRINT': 7.0,
    'Short_PA': 3.0,
    'Short_PC': 3.0,
    'TA3RD': 0.22,
    'TOH': 0.51,
    'TPA': 0.01,
    'TS': 28.37,
    'TTP': 1378.0,
    'Total_PA': 5.0,
    'Total_PC': 4.0,
    'Total_PP': 0.8,
    'club': 'Al Shabab (KSA)',
    'name': 'HATAN BAHBRI',
    'num': 9,
    'position': 'MF'},
   {'DC': 8854.0,
    'DCIP': 4109.0,
    'DCNIP': 2808.0,
    'Long_PA': 0.0,
    'Long_PC': 0.0,
    'Medium_PA': 6.0,
    'Medium_PC': 6.0,
    'SPRINT': 28.0,
    'Short_PA': 1.0,
    'Short_PC': 1.0,
    'TA3RD': 0.29,
    'TOH': 0.72,
    'TPA': 0.06,
    'TS': 30.6,
    'TTP': 5164.0,
    'Total_PA': 7.0,
    'Total_PC': 7.0,
    'Total_PP': 1.0,
    'club': 'Al Nasr (KSA)',
    'name': 'MOHAMMED ALSAHLAWI',
    'num': 10,
    'position': 'FW'},
   {'DC': 10509.0,
    'DCIP': 4027.0,
    'DCNIP': 3726.0,
    'Long_PA': 4.0,
    'Long_PC': 2.0,
    'Medium_PA': 29.0,
    'Medium_PC': 22.0,
    'SPRINT': 50.0,
    'Short_PA': 16.0,
    'Short_PC': 16.0,
    'TA3RD': 0.12,
    'TOH': 0.29,
    'TPA': 0.01,
    'TS': 32.4,
    'TTP': 5808.0,
    'Total_PA': 49.0,
    'Total_PC': 40.0,
    'Total_PP': 0.82,
    'club': 'Al Hilal (KSA)',
    'name': 'YASSER ALSHAHRANI',
    'num': 13,
    'position': 'DF'},
   {'DC': 8137.0,
    'DCIP': 3529.0,
    'DCNIP': 3003.0,
    'Long_PA': 7.0,
    'Long_PC': 5.0,
    'Medium_PA': 23.0,
    'Medium_PC': 22.0,
    'SPRINT': 21.0,
    'Short_PA': 21.0,
    'Short_PC': 20.0,
    'TA3RD': 0.11,
    'TOH': 0.28,
    'TPA': 0.03,
    'TS': 27.9,
    'TTP': 3932.0,
    'Total_PA': 51.0,
    'Total_PC': 47.0,
    'Total_PP': 0.92,
    'club': 'Al Hilal (KSA)',
    'name': 'ABDULLAH OTAYF',
    'num': 14,
    'position': 'MF'},
   {'DC': 10874.0,
    'DCIP': 4456.0,
    'DCNIP': 3810.0,
    'Long_PA': 2.0,
    'Long_PC': 1.0,
    'Medium_PA': 25.0,
    'Medium_PC': 24.0,
    'SPRINT': 26.0,
    'Short_PA': 13.0,
    'Short_PC': 12.0,
    'TA3RD': 0.13,
    'TOH': 0.4,
    'TPA': 0.02,
    'TS': 27.0,
    'TTP': 5808.0,
    'Total_PA': 40.0,
    'Total_PC': 37.0,
    'Total_PP': 0.92,
    'club': 'Al Ahli (KSA)',
    'name': 'TAISEER ALJASSAM',
    'num': 17,
    'position': 'MF'},
   {'DC': 10066.0,
    'DCIP': 4440.0,
    'DCNIP': 3284.0,
    'Long_PA': 7.0,
    'Long_PC': 6.0,
    'Medium_PA': 18.0,
    'Medium_PC': 17.0,
    'SPRINT': 43.0,
    'Short_PA': 17.0,
    'Short_PC': 16.0,
    'TA3RD': 0.16,
    'TOH': 0.47,
    'TPA': 0.01,
    'TS': 29.02,
    'TTP': 5808.0,
    'Total_PA': 42.0,
    'Total_PC': 39.0,
    'Total_PP': 0.93,
    'club': 'Villarreal CF (ESP)',
    'name': 'SALEM ALDAWSARI',
    'num': 18,
    'position': 'MF'},
   {'DC': 2828.0,
    'DCIP': 1066.0,
    'DCNIP': 898.0,
    'Long_PA': 0.0,
    'Long_PC': 0.0,
    'Medium_PA': 0.0,
    'Medium_PC': 0.0,
    'SPRINT': 15.0,
    'Short_PA': 1.0,
    'Short_PC': 1.0,
    'TA3RD': 0.37,
    'TOH': 0.68,
    'TPA': 0.05,
    'TS': 23.94,
    'TTP': 1876.0,
    'Total_PA': 1.0,
    'Total_PC': 1.0,
    'Total_PP': 1.0,
    'club': 'Levante UD (ESP)',
    'name': 'FAHAD ALMUWALLAD',
    'num': 19,
    'position': 'FW'},
   {'DC': 786.0,
    'DCIP': 226.0,
    'DCNIP': 208.0,
    'Long_PA': 0.0,
    'Long_PC': 0.0,
    'Medium_PA': 0.0,
    'Medium_PC': 0.0,
    'SPRINT': 2.0,
    'Short_PA': 1.0,
    'Short_PC': 1.0,
    'TA3RD': 0.3,
    'TOH': 0.47,
    'TPA': 0.06,
    'TS': 20.84,
    'TTP': 644.0,
    'Total_PA': 1.0,
    'Total_PC': 1.0,
    'Total_PP': 1.0,
    'club': 'Al Ahli (KSA)',
    'name': 'MUHANNAD ASIRI',
    'num': 20,
    'position': 'FW'}],
  'score': 0},
 'date': '14 JUN 2018 18:00',
 'home_team': {'country': 'Russia',
  'players': [{'DC': 3606.0,
    'DCIP': 1047.0,
    'DCNIP': 1215.0,
    'Long_PA': 18.0,
    'Long_PC': 8.0,
    'Medium_PA': 2.0,
    'Medium_PC': 2.0,
    'SPRINT': 1.0,
    'Short_PA': 1.0,
    'Short_PC': 1.0,
    'TS': 21.46,
    'TTP': 5808.0,
    'Total_PA': 21.0,
    'Total_PC': 11.0,
    'Total_PP': 0.52,
    'club': 'CSKA Moskva (RUS)',
    'name': 'Igor AKINFEEV',
    'num': 1,
    'position': 'GK'},
   {'DC': 10822.0,
    'DCIP': 3452.0,
    'DCNIP': 4668.0,
    'Long_PA': 5.0,
    'Long_PC': 5.0,
    'Medium_PA': 16.0,
    'Medium_PC': 13.0,
    'SPRINT': 48.0,
    'Short_PA': 4.0,
    'Short_PC': 4.0,
    'TA3RD': 0.12,
    'TOH': 0.34,
    'TPA': 0.01,
    'TS': 31.5,
    'TTP': 5808.0,
    'Total_PA': 25.0,
    'Total_PC': 22.0,
    'Total_PP': 0.88,
    'club': 'CSKA Moskva (RUS)',
    'name': 'MARIO FERNANDES',
    'num': 2,
    'position': 'DF'},
   {'DC': 9987.0,
    'DCIP': 2859.0,
    'DCNIP': 4698.0,
    'Long_PA': 10.0,
    'Long_PC': 8.0,
    'Medium_PA': 19.0,
    'Medium_PC': 16.0,
    'SPRINT': 24.0,
    'Short_PA': 2.0,
    'Short_PC': 2.0,
    'TA3RD': 0.06,
    'TOH': 0.19,
    'TPA': 0.02,
    'TS': 27.36,
    'TTP': 5808.0,
    'Total_PA': 31.0,
    'Total_PC': 26.0,
    'Total_PP': 0.84,
    'club': 'Spartak Moskva (RUS)',
    'name': 'Ilya KUTEPOV',
    'num': 3,
    'position': 'DF'},
   {'DC': 10108.0,
    'DCIP': 2912.0,
    'DCNIP': 4675.0,
    'Long_PA': 12.0,
    'Long_PC': 10.0,
    'Medium_PA': 22.0,
    'Medium_PC': 17.0,
    'SPRINT': 12.0,
    'Short_PA': 3.0,
    'Short_PC': 3.0,
    'TA3RD': 0.08,
    'TOH': 0.19,
    'TPA': 0.03,
    'TS': 29.48,
    'TTP': 5808.0,
    'Total_PA': 37.0,
    'Total_PC': 30.0,
    'Total_PP': 0.81,
    'club': 'CSKA Moskva (RUS)',
    'name': 'Sergey IGNASHEVICH',
    'num': 4,
    'position': 'DF'},
   {'DC': 9030.0,
    'DCIP': 2894.0,
    'DCNIP': 4064.0,
    'Long_PA': 0.0,
    'Long_PC': 0.0,
    'Medium_PA': 12.0,
    'Medium_PC': 8.0,
    'SPRINT': 49.0,
    'Short_PA': 7.0,
    'Short_PC': 5.0,
    'TA3RD': 0.27,
    'TOH': 0.59,
    'TPA': 0.03,
    'TS': 31.03,
    'TSCORE': 5401.0,
    'TTP': 4402.0,
    'Total_PA': 19.0,
    'Total_PC': 13.0,
    'Total_PP': 0.68,
    'club': 'Villarreal CF (ESP)',
    'name': 'Denis CHERYSHEV',
    'num': 6,
    'position': 'MF'},
   {'DC': 3895.0,
    'DCIP': 1182.0,
    'DCNIP': 1689.0,
    'Long_PA': 2.0,
    'Long_PC': 1.0,
    'Medium_PA': 3.0,
    'Medium_PC': 3.0,
    'SPRINT': 15.0,
    'Short_PA': 2.0,
    'Short_PC': 2.0,
    'TA3RD': 0.34,
    'TOH': 0.55,
    'TPA': 0.03,
    'TS': 26.28,
    'TTP': 1859.0,
    'Total_PA': 7.0,
    'Total_PC': 6.0,
    'Total_PP': 0.86,
    'club': 'Zenit St. Petersburg (RUS)',
    'name': 'Daler KUZIAEV',
    'num': 7,
    'position': 'MF'},
   {'DC': 12240.0,
    'DCIP': 3558.0,
    'DCNIP': 6117.0,
    'Long_PA': 5.0,
    'Long_PC': 5.0,
    'Medium_PA': 21.0,
    'Medium_PC': 15.0,
    'SPRINT': 38.0,
    'Short_PA': 4.0,
    'Short_PC': 4.0,
    'TA3RD': 0.18,
    'TOH': 0.45,
    'TPA': 0.04,
    'TS': 27.22,
    'TTP': 5808.0,
    'Total_PA': 30.0,
    'Total_PC': 24.0,
    'Total_PP': 0.8,
    'club': 'Krasnodar (RUS)',
    'name': 'Iury GAZINSKY',
    'num': 8,
    'position': 'MF'},
   {'DC': 3029.0,
    'DCIP': 1203.0,
    'DCNIP': 1236.0,
    'Long_PA': 2.0,
    'Long_PC': 2.0,
    'Medium_PA': 5.0,
    'Medium_PC': 4.0,
    'SPRINT': 12.0,
    'Short_PA': 1.0,
    'Short_PC': 1.0,
    'TA3RD': 0.38,
    'TOH': 0.68,
    'TPA': 0.17,
    'TS': 29.48,
    'TTP': 1406.0,
    'Total_PA': 8.0,
    'Total_PC': 7.0,
    'Total_PP': 0.88,
    'club': 'CSKA Moskva (RUS)',
    'name': 'Alan DZAGOEV',
    'num': 9,
    'position': 'MF'},
   {'DC': 8787.0,
    'DCIP': 3059.0,
    'DCNIP': 3722.0,
    'Long_PA': 0.0,
    'Long_PC': 0.0,
    'Medium_PA': 10.0,
    'Medium_PC': 8.0,
    'SPRINT': 46.0,
    'Short_PA': 4.0,
    'Short_PC': 3.0,
    'TA3RD': 0.44,
    'TOH': 0.73,
    'TPA': 0.1,
    'TS': 30.17,
    'TTP': 4286.0,
    'Total_PA': 14.0,
    'Total_PC': 11.0,
    'Total_PP': 0.79,
    'club': 'Krasnodar (RUS)',
    'name': 'Fedor SMOLOV',
    'num': 10,
    'position': 'FW'},
   {'DC': 11753.0,
    'DCIP': 3663.0,
    'DCNIP': 5404.0,
    'Long_PA': 2.0,
    'Long_PC': 1.0,
    'Medium_PA': 17.0,
    'Medium_PC': 11.0,
    'SPRINT': 38.0,
    'Short_PA': 7.0,
    'Short_PC': 5.0,
    'TA3RD': 0.23,
    'TOH': 0.52,
    'TPA': 0.05,
    'TS': 29.23,
    'TTP': 5808.0,
    'Total_PA': 26.0,
    'Total_PC': 17.0,
    'Total_PP': 0.65,
    'club': 'Spartak Moskva (RUS)',
    'name': 'Roman ZOBNIN',
    'num': 11,
    'position': 'MF'},
   {'DC': 12706.0,
    'DCIP': 3884.0,
    'DCNIP': 5944.0,
    'Long_PA': 5.0,
    'Long_PC': 3.0,
    'Medium_PA': 20.0,
    'Medium_PC': 17.0,
    'SPRINT': 69.0,
    'Short_PA': 7.0,
    'Short_PC': 7.0,
    'TA3RD': 0.37,
    'TOH': 0.69,
    'TPA': 0.04,
    'TS': 30.6,
    'TSCORE': 5404.0,
    'TTP': 5808.0,
    'Total_PA': 32.0,
    'Total_PC': 27.0,
    'Total_PP': 0.84,
    'club': 'CSKA Moskva (RUS)',
    'name': 'Aleksandr GOLOVIN',
    'num': 17,
    'position': 'MF'},
   {'DC': 11020.0,
    'DCIP': 3448.0,
    'DCNIP': 4773.0,
    'Long_PA': 6.0,
    'Long_PC': 5.0,
    'Medium_PA': 15.0,
    'Medium_PC': 13.0,
    'SPRINT': 35.0,
    'Short_PA': 7.0,
    'Short_PC': 7.0,
    'TA3RD': 0.12,
    'TOH': 0.32,
    'TPA': 0.01,
    'TS': 28.58,
    'TTP': 5808.0,
    'Total_PA': 28.0,
    'Total_PC': 25.0,
    'Total_PP': 0.89,
    'club': 'Zenit St. Petersburg (RUS)',
    'name': 'Yury ZHIRKOV',
    'num': 18,
    'position': 'MF'},
   {'DC': 8300.0,
    'DCIP': 2632.0,
    'DCNIP': 3835.0,
    'Long_PA': 3.0,
    'Long_PC': 2.0,
    'Medium_PA': 10.0,
    'Medium_PC': 8.0,
    'SPRINT': 37.0,
    'Short_PA': 3.0,
    'Short_PC': 3.0,
    'TA3RD': 0.28,
    'TOH': 0.62,
    'TPA': 0.04,
    'TS': 28.8,
    'TTP': 3949.0,
    'Total_PA': 16.0,
    'Total_PC': 13.0,
    'Total_PP': 0.81,
    'club': 'Spartak Moskva (RUS)',
    'name': 'Alexander SAMEDOV',
    'num': 19,
    'position': 'MF'},
   {'DC': 2680.0,
    'DCIP': 803.0,
    'DCNIP': 1168.0,
    'Long_PA': 1.0,
    'Long_PC': 1.0,
    'Medium_PA': 5.0,
    'Medium_PC': 5.0,
    'SPRINT': 14.0,
    'Short_PA': 2.0,
    'Short_PC': 2.0,
    'TA3RD': 0.5,
    'TOH': 0.8,
    'TPA': 0.21,
    'TS': 26.64,
    'TTP': 1522.0,
    'Total_PA': 8.0,
    'Total_PC': 8.0,
    'Total_PP': 1.0,
    'club': 'Arsenal Tula (RUS)',
    'name': 'Artem DZYUBA',
    'num': 22,
    'position': 'FW'}],
  'score': 5}}

In [41]:
# aggregate

In [42]:
home_goals = list(wc_c.aggregate([
    {'$group':{
        '_id': '$home_team.country',
        'home_goal':{'$sum': '$home_team.score'}
    }},
    {'$sort': {'home_goal':-1}}
]))

In [44]:
home_goals

[{'_id': 'Belgium', 'home_goal': 13},
 {'_id': 'France', 'home_goal': 12},
 {'_id': 'Russia', 'home_goal': 10},
 {'_id': 'England', 'home_goal': 6},
 {'_id': 'Brazil', 'home_goal': 6},
 {'_id': 'Uruguay', 'home_goal': 6},
 {'_id': 'Croatia', 'home_goal': 5},
 {'_id': 'Portugal', 'home_goal': 4},
 {'_id': 'Korea Republic', 'home_goal': 3},
 {'_id': 'Nigeria', 'home_goal': 3},
 {'_id': 'Spain', 'home_goal': 3},
 {'_id': 'Switzerland', 'home_goal': 2},
 {'_id': 'Colombia', 'home_goal': 2},
 {'_id': 'Saudi Arabia', 'home_goal': 2},
 {'_id': 'Japan', 'home_goal': 2},
 {'_id': 'Germany', 'home_goal': 2},
 {'_id': 'Sweden', 'home_goal': 2},
 {'_id': 'Serbia', 'home_goal': 1},
 {'_id': 'Panama', 'home_goal': 1},
 {'_id': 'IR Iran', 'home_goal': 1},
 {'_id': 'Poland', 'home_goal': 1},
 {'_id': 'Iceland', 'home_goal': 1},
 {'_id': 'Tunisia', 'home_goal': 1},
 {'_id': 'Argentina', 'home_goal': 1},
 {'_id': 'Denmark', 'home_goal': 1},
 {'_id': 'Senegal', 'home_goal': 0},
 {'_id': 'Australia', 'home_goal': 0},
 {'_id': 'Costa Rica', 'home_goal': 0},
 {'_id': 'Peru', 'home_goal': 0},
 {'_id': 'Egypt', 'home_goal': 0},
 {'_id': 'Morocco', 'home_goal': 0},
 {'_id': 'Mexico', 'home_goal': 0}]

In [45]:
away_goals = list(wc_c.aggregate([
    {'$group':{
        '_id': '$away_team.country',
        'away_goal':{'$sum': '$away_team.score'}
    }},
    {'$sort': {'away_goal':-1}}
]))

In [46]:
away_goals

[{'_id': 'Croatia', 'away_goal': 9},
 {'_id': 'England', 'away_goal': 6},
 {'_id': 'Argentina', 'away_goal': 5},
 {'_id': 'Colombia', 'away_goal': 4},
 {'_id': 'Tunisia', 'away_goal': 4},
 {'_id': 'Senegal', 'away_goal': 4},
 {'_id': 'Spain', 'away_goal': 4},
 {'_id': 'Japan', 'away_goal': 4},
 {'_id': 'Sweden', 'away_goal': 4},
 {'_id': 'Belgium', 'away_goal': 3},
 {'_id': 'Switzerland', 'away_goal': 3},
 {'_id': 'Mexico', 'away_goal': 3},
 {'_id': 'Brazil', 'away_goal': 2},
 {'_id': 'France', 'away_goal': 2},
 {'_id': 'Portugal', 'away_goal': 2},
 {'_id': 'Costa Rica', 'away_goal': 2},
 {'_id': 'Australia', 'away_goal': 2},
 {'_id': 'Denmark', 'away_goal': 2},
 {'_id': 'Morocco', 'away_goal': 2},
 {'_id': 'Egypt', 'away_goal': 2},
 {'_id': 'Peru', 'away_goal': 2},
 {'_id': 'Poland', 'away_goal': 1},
 {'_id': 'Uruguay', 'away_goal': 1},
 {'_id': 'Serbia', 'away_goal': 1},
 {'_id': 'Russia', 'away_goal': 1},
 {'_id': 'IR Iran', 'away_goal': 1},
 {'_id': 'Panama', 'away_goal': 1},
 {'_id': 'Iceland', 'away_goal': 1},
 {'_id': 'Germany', 'away_goal': 0},
 {'_id': 'Korea Republic', 'away_goal': 0},
 {'_id': 'Saudi Arabia', 'away_goal': 0},
 {'_id': 'Nigeria', 'away_goal': 0}]

In [47]:
import pandas as pd

In [48]:
home_df = pd.DataFrame(home_goals)
away_df = pd.DataFrame(away_goals)

In [50]:
home_df.head()

       _id  home_goal
0  Belgium         13
1   France         12
2   Russia         10
3  England          6
4   Brazil          6

In [51]:
away_df.head()

         _id  away_goal
0    Croatia          9
1    England          6
2  Argentina          5
3   Colombia          4
4    Tunisia          4

In [52]:
total = pd.merge(home_df, away_df)

In [54]:
total.head()

       _id  home_goal  away_goal
0  Belgium         13          3
1   France         12          2
2   Russia         10          1
3  England          6          6
4   Brazil          6          2

In [55]:
total['total_goals'] = total.home_goal + total.away_goal

In [56]:
total.head()

       _id  home_goal  away_goal  total_goals
0  Belgium         13          3           16
1   France         12          2           14
2   Russia         10          1           11
3  England          6          6           12
4   Brazil          6          2            8

In [57]:
total.sort_values('total_goals', ascending=True)

               _id  home_goal  away_goal  total_goals
15         Germany          2          0            2
29           Egypt          0          2            2
28            Peru          0          2            2
27      Costa Rica          0          2            2
26       Australia          0          2            2
21         Iceland          1          1            2
20          Poland          1          1            2
19         IR Iran          1          1            2
18          Panama          1          1            2
17          Serbia          1          1            2
30         Morocco          0          2            2
13    Saudi Arabia          2          0            2
24         Denmark          1          2            3
31          Mexico          0          3            3
9          Nigeria          3          0            3
8   Korea Republic          3          0            3
25         Senegal          0          4            4
22         Tunisia          1          4            5
11     Switzerland          2          3            5
23       Argentina          1          5            6
12        Colombia          2          4            6
14           Japan          2          4            6
7         Portugal          4          2            6
16          Sweden          2          4            6
10           Spain          3          4            7
5          Uruguay          6          1            7
4           Brazil          6          2            8
2           Russia         10          1           11
3          England          6          6           12
1           France         12          2           14
6          Croatia          5          9           14
0          Belgium         13          3           16

##

In [58]:
france_perf = list(wc_c.aggregate([
    {'$match': 
     {'home_team.country': 
                {'$eq':'France'}}}
]))

In [59]:
france_perf[0]

{'_id': ObjectId('5be42a8a827e3c57416c1f9e'),
 'away_team': {'country': 'Australia',
  'players': [{'DC': 4691.0,
    'DCIP': 1814.0,
    'DCNIP': 1649.0,
    'Long_PA': 19.0,
    'Long_PC': 15.0,
    'Medium_PA': 26.0,
    'Medium_PC': 26.0,
    'SPRINT': 5.0,
    'Short_PA': 2.0,
    'Short_PC': 2.0,
    'TS': 18.76,
    'TTP': 5796.0,
    'Total_PA': 47.0,
    'Total_PC': 43.0,
    'Total_PP': 0.91,
    'club': 'Brighton (ENG)',
    'name': 'Mathew RYAN',
    'num': 1,
    'position': 'GK'},
   {'DC': 9708.0,
    'DCIP': 3364.0,
    'DCNIP': 4153.0,
    'Long_PA': 10.0,
    'Long_PC': 7.0,
    'Medium_PA': 56.0,
    'Medium_PC': 55.0,
    'SPRINT': 27.0,
    'Short_PA': 4.0,
    'Short_PC': 3.0,
    'TA3RD': 0.08,
    'TOH': 0.16,
    'TPA': 0.02,
    'TS': 29.92,
    'TTP': 5796.0,
    'Total_PA': 70.0,
    'Total_PC': 65.0,
    'Total_PP': 0.93,
    'club': 'Al Ahli (KSA)',
    'name': 'Mark MILLIGAN',
    'num': 5,
    'position': 'DF'},
   {'DC': 10757.0,
    'DCIP': 3974.0,
    'DCNIP': 4241.0,
    'Long_PA': 3.0,
    'Long_PC': 2.0,
    'Medium_PA': 7.0,
    'Medium_PC': 5.0,
    'SPRINT': 53.0,
    'Short_PA': 9.0,
    'Short_PC': 5.0,
    'TA3RD': 0.21,
    'TOH': 0.46,
    'TPA': 0.03,
    'TS': 32.83,
    'TTP': 5796.0,
    'Total_PA': 19.0,
    'Total_PC': 12.0,
    'Total_PP': 0.63,
    'club': 'Hertha BSC (GER)',
    'name': 'Mathew LECKIE',
    'num': 7,
    'position': 'FW'},
   {'DC': 3536.0,
    'DCIP': 1293.0,
    'DCNIP': 1415.0,
    'Long_PA': 0.0,
    'Long_PC': 0.0,
    'Medium_PA': 2.0,
    'Medium_PC': 1.0,
    'SPRINT': 15.0,
    'Short_PA': 1.0,
    'Short_PC': 1.0,
    'TA3RD': 0.28,
    'TOH': 0.59,
    'TPA': 0.05,
    'TS': 22.86,
    'TTP': 1913.0,
    'Total_PA': 3.0,
    'Total_PC': 2.0,
    'Total_PP': 0.67,
    'club': 'FC Luzern (SUI)',
    'name': 'Tomi JURIC',
    'num': 9,
    'position': 'FW'},
   {'DC': 9455.0,
    'DCIP': 3361.0,
    'DCNIP': 3984.0,
    'Long_PA': 1.0,
    'Long_PC': 1.0,
    'Medium_PA': 5.0,
    'Medium_PC': 5.0,
    'SPRINT': 41.0,
    'Short_PA': 4.0,
    'Short_PC': 4.0,
    'TA3RD': 0.22,
    'TOH': 0.44,
    'TPA': 0.05,
    'TS': 30.6,
    'TTP': 5091.0,
    'Total_PA': 10.0,
    'Total_PC': 10.0,
    'Total_PP': 1.0,
    'club': 'VfL Bochum (GER)',
    'name': 'Robbie KRUSE',
    'num': 10,
    'position': 'FW'},
   {'DC': 7553.0,
    'DCIP': 2665.0,
    'DCNIP': 3217.0,
    'Long_PA': 0.0,
    'Long_PC': 0.0,
    'Medium_PA': 2.0,
    'Medium_PC': 2.0,
    'SPRINT': 34.0,
    'Short_PA': 0.0,
    'Short_PC': 0.0,
    'TA3RD': 0.26,
    'TOH': 0.63,
    'TPA': 0.08,
    'TS': 27.22,
    'TTP': 3883.0,
    'Total_PA': 2.0,
    'Total_PC': 2.0,
    'Total_PP': 1.0,
    'club': 'Urawa Reds (JPN)',
    'name': 'Andrew NABBOUT',
    'num': 11,
    'position': 'FW'},
   {'DC': 11315.0,
    'DCIP': 4029.0,
    'DCNIP': 5009.0,
    'Long_PA': 2.0,
    'Long_PC': 1.0,
    'Medium_PA': 33.0,
    'Medium_PC': 28.0,
    'SPRINT': 28.0,
    'Short_PA': 19.0,
    'Short_PC': 17.0,
    'TA3RD': 0.13,
    'TOH': 0.29,
    'TPA': 0.01,
    'TS': 25.74,
    'TTP': 5796.0,
    'Total_PA': 54.0,
    'Total_PC': 46.0,
    'Total_PP': 0.85,
    'club': 'Huddersfield (ENG)',
    'name': 'Aaron MOOY',
    'num': 13,
    'position': 'MF'},
   {'DC': 10854.0,
    'DCIP': 3790.0,
    'DCNIP': 4775.0,
    'Long_PA': 5.0,
    'Long_PC': 2.0,
    'Medium_PA': 23.0,
    'Medium_PC': 20.0,
    'SPRINT': 25.0,
    'Short_PA': 9.0,
    'Short_PC': 9.0,
    'TA3RD': 0.11,
    'TOH': 0.29,
    'TPA': 0.05,
    'TS': 25.74,
    'TTP': 5796.0,
    'Total_PA': 37.0,
    'Total_PC': 31.0,
    'Total_PP': 0.84,
    'club': 'Aston Villa (ENG)',
    'name': 'Mile JEDINAK',
    'num': 15,
    'position': 'MF'},
   {'DC': 10246.0,
    'DCIP': 3598.0,
    'DCNIP': 4249.0,
    'Long_PA': 7.0,
    'Long_PC': 1.0,
    'Medium_PA': 36.0,
    'Medium_PC': 32.0,
    'SPRINT': 44.0,
    'Short_PA': 5.0,
    'Short_PC': 5.0,
    'TA3RD': 0.07,
    'TOH': 0.22,
    'TS': 29.7,
    'TTP': 5796.0,
    'Total_PA': 48.0,
    'Total_PC': 38.0,
    'Total_PP': 0.79,
    'club': 'Bursaspor (TUR)',
    'name': 'Aziz BEHICH',
    'num': 16,
    'position': 'DF'},
   {'DC': 1356.0,
    'DCIP': 498.0,
    'DCNIP': 453.0,
    'Long_PA': 1.0,
    'Long_PC': 0.0,
    'Medium_PA': 2.0,
    'Medium_PC': 1.0,
    'SPRINT': 7.0,
    'Short_PA': 0.0,
    'Short_PC': 0.0,
    'TA3RD': 0.27,
    'TOH': 0.48,
    'TPA': 0.04,
    'TS': 27.43,
    'TTP': 705.0,
    'Total_PA': 3.0,
    'Total_PC': 1.0,
    'Total_PP': 0.33,
    'club': 'Melbourne City Footb. (AUS)',
    'name': 'Daniel ARZANI',
    'num': 17,
    'position': 'FW'},
   {'DC': 10820.0,
    'DCIP': 3989.0,
    'DCNIP': 4454.0,
    'Long_PA': 4.0,
    'Long_PC': 1.0,
    'Medium_PA': 19.0,
    'Medium_PC': 15.0,
    'SPRINT': 47.0,
    'Short_PA': 9.0,
    'Short_PC': 8.0,
    'TA3RD': 0.08,
    'TOH': 0.24,
    'TPA': 0.01,
    'TS': 31.28,
    'TTP': 5796.0,
    'Total_PA': 32.0,
    'Total_PC': 24.0,
    'Total_PP': 0.75,
    'club': 'Western Sydney Wande. (AUS)',
    'name': 'Joshua RISDON',
    'num': 19,
    'position': 'DF'},
   {'DC': 9486.0,
    'DCIP': 3329.0,
    'DCNIP': 4182.0,
    'Long_PA': 8.0,
    'Long_PC': 5.0,
    'Medium_PA': 35.0,
    'Medium_PC': 32.0,
    'SPRINT': 28.0,
    'Short_PA': 5.0,
    'Short_PC': 5.0,
    'TA3RD': 0.06,
    'TOH': 0.14,
    'TPA': 0.01,
    'TS': 27.0,
    'TTP': 5796.0,
    'Total_PA': 48.0,
    'Total_PC': 42.0,
    'Total_PP': 0.88,
    'club': 'Grasshoppers (SUI)',
    'name': 'Trent SAINSBURY',
    'num': 20,
    'position': 'DF'},
   {'DC': 3216.0,
    'DCIP': 1180.0,
    'DCNIP': 1224.0,
    'Long_PA': 0.0,
    'Long_PC': 0.0,
    'Medium_PA': 1.0,
    'Medium_PC': 1.0,
    'SPRINT': 18.0,
    'Short_PA': 2.0,
    'Short_PC': 2.0,
    'TA3RD': 0.24,
    'TOH': 0.51,
    'TPA': 0.05,
    'TS': 25.38,
    'TTP': 1455.0,
    'Total_PA': 3.0,
    'Total_PC': 3.0,
    'Total_PP': 1.0,
    'club': 'Hull City (ENG)',
    'name': 'Jackson IRVINE',
    'num': 22,
    'position': 'MF'},
   {'DC': 8312.0,
    'DCIP': 2870.0,
    'DCNIP': 3686.0,
    'Long_PA': 2.0,
    'Long_PC': 2.0,
    'Medium_PA': 7.0,
    'Medium_PC': 6.0,
    'SPRINT': 21.0,
    'Short_PA': 5.0,
    'Short_PC': 5.0,
    'TA3RD': 0.21,
    'TOH': 0.5,
    'TPA': 0.03,
    'TS': 27.9,
    'TTP': 4341.0,
    'Total_PA': 14.0,
    'Total_PC': 13.0,
    'Total_PP': 0.93,
    'club': 'Celtic (SCO)',
    'name': 'Tom ROGIC',
    'num': 23,
    'position': 'MF'}],
  'score': 1},
 'date': '16 JUN 2018 13:00',
 'home_team': {'country': 'France',
  'players': [{'DC': 4473.0,
    'DCIP': 1782.0,
    'DCNIP': 1614.0,
    'Long_PA': 9.0,
    'Long_PC': 7.0,
    'Medium_PA': 9.0,
    'Medium_PC': 9.0,
    'SPRINT': 1.0,
    'Short_PA': 1.0,
    'Short_PC': 1.0,
    'TS': 22.5,
    'TTP': 5796.0,
    'Total_PA': 19.0,
    'Total_PC': 17.0,
    'Total_PP': 0.89,
    'club': 'Tottenham Hotspur (ENG)',
    'name': 'Hugo LLORIS',
    'num': 1,
    'position': 'GK'},
   {'DC': 9857.0,
    'DCIP': 3716.0,
    'DCNIP': 3843.0,
    'Long_PA': 3.0,
    'Long_PC': 1.0,
    'Medium_PA': 42.0,
    'Medium_PC': 34.0,
    'SPRINT': 37.0,
    'Short_PA': 15.0,
    'Short_PC': 13.0,
    'TA3RD': 0.22,
    'TOH': 0.45,
    'TPA': 0.01,
    'TS': 30.6,
    'TTP': 5796.0,
    'Total_PA': 60.0,
    'Total_PC': 48.0,
    'Total_PP': 0.8,
    'club': 'VfB Stuttgart (GER)',
    'name': 'Benjamin PAVARD',
    'num': 2,
    'position': 'DF'},
   {'DC': 9371.0,
    'DCIP': 3484.0,
    'DCNIP': 3596.0,
    'Long_PA': 15.0,
    'Long_PC': 12.0,
    'Medium_PA': 47.0,
    'Medium_PC': 44.0,
    'SPRINT': 26.0,
    'Short_PA': 9.0,
    'Short_PC': 8.0,
    'TA3RD': 0.11,
    'TOH': 0.25,
    'TPA': 0.05,
    'TS': 28.12,
    'TTP': 5796.0,
    'Total_PA': 71.0,
    'Total_PC': 64.0,
    'Total_PP': 0.9,
    'club': 'Real Madrid (ESP)',
    'name': 'Raphael VARANE',
    'num': 4,
    'position': 'DF'},
   {'DC': 9016.0,
    'DCIP': 3237.0,
    'DCNIP': 3674.0,
    'Long_PA': 9.0,
    'Long_PC': 8.0,
    'Medium_PA': 41.0,
    'Medium_PC': 41.0,
    'SPRINT': 22.0,
    'Short_PA': 6.0,
    'Short_PC': 6.0,
    'TA3RD': 0.08,
    'TOH': 0.27,
    'TPA': 0.04,
    'TS': 29.92,
    'TTP': 5796.0,
    'Total_PA': 56.0,
    'Total_PC': 55.0,
    'Total_PP': 0.98,
    'club': 'FC Barcelona (ESP)',
    'name': 'Samuel UMTITI',
    'num': 5,
    'position': 'DF'},
   {'DC': 9915.0,
    'DCIP': 3878.0,
    'DCNIP': 3846.0,
    'Long_PA': 12.0,
    'Long_PC': 9.0,
    'Medium_PA': 35.0,
    'Medium_PC': 31.0,
    'SPRINT': 33.0,
    'Short_PA': 9.0,
    'Short_PC': 8.0,
    'TA3RD': 0.27,
    'TOH': 0.57,
    'TPA': 0.06,
    'TS': 27.22,
    'TTP': 5796.0,
    'Total_PA': 56.0,
    'Total_PC': 48.0,
    'Total_PP': 0.86,
    'club': 'Manchester United (ENG)',
    'name': 'Paul POGBA',
    'num': 6,
    'position': 'MF'},
   {'DC': 6975.0,
    'DCIP': 2729.0,
    'DCNIP': 2738.0,
    'Long_PA': 3.0,
    'Long_PC': 1.0,
    'Medium_PA': 8.0,
    'Medium_PC': 5.0,
    'SPRINT': 26.0,
    'Short_PA': 5.0,
    'Short_PC': 4.0,
    'TA3RD': 0.46,
    'TOH': 0.76,
    'TPA': 0.09,
    'TS': 30.82,
    'TTP': 4234.0,
    'Total_PA': 16.0,
    'Total_PC': 10.0,
    'Total_PP': 0.62,
    'club': 'Atltico Madrid (ESP)',
    'name': 'Antoine GRIEZMANN',
    'num': 7,
    'position': 'FW'},
   {'DC': 2892.0,
    'DCIP': 1024.0,
    'DCNIP': 1013.0,
    'Long_PA': 0.0,
    'Long_PC': 0.0,
    'Medium_PA': 1.0,
    'Medium_PC': 1.0,
    'SPRINT': 16.0,
    'Short_PA': 2.0,
    'Short_PC': 1.0,
    'TA3RD': 0.52,
    'TOH': 0.74,
    'TPA': 0.17,
    'TS': 24.12,
    'TTP': 1562.0,
    'Total_PA': 3.0,
    'Total_PC': 2.0,
    'Total_PP': 0.67,
    'club': 'Chelsea (ENG)',
    'name': 'Olivier GIROUD',
    'num': 9,
    'position': 'FW'},
   {'DC': 9538.0,
    'DCIP': 3904.0,
    'DCNIP': 3533.0,
    'Long_PA': 1.0,
    'Long_PC': 1.0,
    'Medium_PA': 11.0,
    'Medium_PC': 11.0,
    'SPRINT': 37.0,
    'Short_PA': 6.0,
    'Short_PC': 6.0,
    'TA3RD': 0.46,
    'TOH': 0.76,
    'TPA': 0.12,
    'TS': 30.38,
    'TTP': 5796.0,
    'Total_PA': 18.0,
    'Total_PC': 18.0,
    'Total_PP': 1.0,
    'club': 'Paris Saint-Germain (FRA)',
    'name': 'Kylian MBAPPE',
    'num': 10,
    'position': 'FW'},
   {'DC': 7437.0,
    'DCIP': 2834.0,
    'DCNIP': 2816.0,
    'Long_PA': 2.0,
    'Long_PC': 1.0,
    'Medium_PA': 8.0,
    'Medium_PC': 6.0,
    'SPRINT': 39.0,
    'Short_PA': 6.0,
    'Short_PC': 4.0,
    'TA3RD': 0.42,
    'TOH': 0.71,
    'TPA': 0.06,
    'TS': 31.97,
    'TTP': 4237.0,
    'Total_PA': 16.0,
    'Total_PC': 11.0,
    'Total_PP': 0.69,
    'club': 'FC Barcelona (ESP)',
    'name': 'Ousmane DEMBELE',
    'num': 11,
    'position': 'FW'},
   {'DC': 8574.0,
    'DCIP': 3378.0,
    'DCNIP': 3424.0,
    'Long_PA': 9.0,
    'Long_PC': 9.0,
    'Medium_PA': 38.0,
    'Medium_PC': 35.0,
    'SPRINT': 14.0,
    'Short_PA': 8.0,
    'Short_PC': 7.0,
    'TA3RD': 0.24,
    'TOH': 0.58,
    'TPA': 0.06,
    'TS': 28.37,
    'TTP': 4716.0,
    'Total_PA': 55.0,
    'Total_PC': 51.0,
    'Total_PP': 0.93,
    'club': 'Bayern Mnchen (GER)',
    'name': 'Corentin TOLISSO',
    'num': 12,
    'position': 'MF'},
   {'DC': 10471.0,
    'DCIP': 4175.0,
    'DCNIP': 4273.0,
    'Long_PA': 4.0,
    'Long_PC': 4.0,
    'Medium_PA': 40.0,
    'Medium_PC': 38.0,
    'SPRINT': 31.0,
    'Short_PA': 13.0,
    'Short_PC': 13.0,
    'TA3RD': 0.1,
    'TOH': 0.45,
    'TPA': 0.01,
    'TS': 28.12,
    'TTP': 5796.0,
    'Total_PA': 57.0,
    'Total_PC': 55.0,
    'Total_PP': 0.96,
    'club': 'Chelsea (ENG)',
    'name': 'Ngolo KANTE',
    'num': 13,
    'position': 'MF'},
   {'DC': 2273.0,
    'DCIP': 814.0,
    'DCNIP': 801.0,
    'Long_PA': 1.0,
    'Long_PC': 1.0,
    'Medium_PA': 8.0,
    'Medium_PC': 6.0,
    'SPRINT': 13.0,
    'Short_PA': 2.0,
    'Short_PC': 1.0,
    'TA3RD': 0.33,
    'TOH': 0.65,
    'TPA': 0.15,
    'TS': 27.22,
    'TTP': 1080.0,
    'Total_PA': 11.0,
    'Total_PC': 8.0,
    'Total_PP': 0.73,
    'club': 'Juventus (ITA)',
    'name': 'Blaise MATUIDI',
    'num': 14,
    'position': 'MF'},
   {'DC': 2839.0,
    'DCIP': 973.0,
    'DCNIP': 1112.0,
    'Long_PA': 0.0,
    'Long_PC': 0.0,
    'Medium_PA': 7.0,
    'Medium_PC': 4.0,
    'SPRINT': 15.0,
    'Short_PA': 2.0,
    'Short_PC': 1.0,
    'TA3RD': 0.46,
    'TOH': 0.69,
    'TPA': 0.08,
    'TS': 25.02,
    'TTP': 1559.0,
    'Total_PA': 9.0,
    'Total_PC': 5.0,
    'Total_PP': 0.56,
    'club': 'Olympique Lyon (FRA)',
    'name': 'Nabil FEKIR',
    'num': 18,
    'position': 'FW'},
   {'DC': 9261.0,
    'DCIP': 3253.0,
    'DCNIP': 3537.0,
    'Long_PA': 1.0,
    'Long_PC': 1.0,
    'Medium_PA': 19.0,
    'Medium_PC': 15.0,
    'SPRINT': 35.0,
    'Short_PA': 17.0,
    'Short_PC': 15.0,
    'TA3RD': 0.21,
    'TOH': 0.45,
    'TPA': 0.01,
    'TS': 31.5,
    'TTP': 5796.0,
    'Total_PA': 37.0,
    'Total_PC': 31.0,
    'Total_PP': 0.84,
    'club': 'Atltico Madrid (ESP)',
    'name': 'Lucas HERNANDEZ',
    'num': 21,
    'position': 'DF'}],
  'score': 2}}