### Pandas를 활용하여 영화 평점 데이터 분석하기

- MovieLens 사용자들을 대상으로 수집한 영화 평점 데이터를 분석하기
- 데이터 출처 : https://grouplens.org/datasets/movielens/
- 데이터 내용 : 영화 평점, 장르, 개봉연도, 사용자 나이, 우편번호, 성별, 직업 등이 포함

- 실습 참조 : 
    - 파이썬 라이브러리를 활용한 데이터 분석
    - https://sandipanweb.wordpress.com/2017/12/16/data-science-with-python-exploratory-analysis-with-movie-ratings-and-fraud-detection-with-credit-card-transactions/

### 데이터 읽기

- 해당 데이터셋은 평점, 사용자 정보, 영화 정보 테이블로 구성되어있어서 각 파일을 따로 읽어와야 한다.

In [9]:
import pandas as pd

In [13]:
# 나이와 직업은 그룹을 가리키는 코드 번호이다
users = pd.read_table('./data/ml-1m/users.dat',\
                      sep='::', \
                      header=None, \
                      names=['user_id', 'gender', 'age', 'occupation', 'zip'])

users.head()

/Users/grace/workspace/keras/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [35]:
movies = pd.read_table('./data/ml-1m/movies.dat',\
                      sep='::',\
                      header=None,\
                      names=['movie_id', 'title', 'genres'])
movies.head()

/Users/grace/workspace/keras/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [68]:
ratings = pd.read_table('./data/ml-1m/ratings.dat',\
                       sep='::',\
                       header=None,\
                       names=['user_id', 'movie_id', 'rating', 'timestamp'])
ratings.head()

/Users/grace/workspace/keras/venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

## 영화 장르에 따른 평점의 변화 분석하기

### 데이터 전처리 1. 장르 데이터 확인 및 전처리 하기

In [30]:
# 하나의 영화는 하나의 장르가 아니라 여러 장르에 속할 수 있다
movies.genres.unique()[:10]

array(["Animation|Children's|Comedy", "Adventure|Children's|Fantasy",
       'Comedy|Romance', 'Comedy|Drama', 'Comedy',
       'Action|Crime|Thriller', "Adventure|Children's", 'Action',
       'Action|Adventure|Thriller', 'Comedy|Drama|Romance'], dtype=object)

In [59]:
# 각 영화 레코드를 장르에 따라 각각 추가하는 방식으로 전처리
# stack()는 데이터를 재구조화 하는 메소드
movies_ = pd.DataFrame(movies.genres.str.split('|').tolist(), \
                 index=[movies.movie_id, movies.title]).stack()
movies_.head()

movie_id  title
1         Toy Story (1995)  0     Animation
                            1    Children's
                            2        Comedy
2         Jumanji (1995)    0     Adventure
                            1    Children's
dtype: object

unstacked

|index |col_1 | col_2|
|----|----|----|
|1 | 10 | 30 |
|2 | 20 | 40 |

stacked

|index|index| |
|---|-----|---|
|1 | col_1| 10|
|1 | col_1| 20|
|2 | col_2| 30|
|2 | col_2| 40|

In [62]:
movies_ = movies_.reset_index()[[0, 'movie_id', 'title']]
movies_.columns = ['genres', 'movie_id', 'title']
movies_.head()

       genres  movie_id             title
0   Animation         1  Toy Story (1995)
1  Children's         1  Toy Story (1995)
2      Comedy         1  Toy Story (1995)
3   Adventure         2    Jumanji (1995)
4  Children's         2    Jumanji (1995)

In [63]:
# 데이터가 제대로 반영되었는가 확인을 위해 비교 데이터 찾기
movies.loc[movies.movie_id==1]

   movie_id             title                       genres
0         1  Toy Story (1995)  Animation|Children's|Comedy

#### 장르 갯수 확인하기

In [64]:
movies_.genres.unique()

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'], dtype=object)

### 데이터 전처리 2. timestamp -> year 데이터로 변환

In [69]:
import time
ratings.timestamp = ratings.timestamp.apply(lambda x: \
                                            time.strftime('%Y', time.localtime(x)))
ratings.head()

   user_id  movie_id  rating timestamp
0        1      1193       5      2001
1        1       661       3      2001
2        1       914       3      2001
3        1      3408       4      2001
4        1      2355       5      2001

### 데이터 병합하기

- 모든 데이터를 하나의 테이블로 병합해서 처리하는 것이 더 편리하기 때문에 먼저 ratings와 users를 병합하고 이후에 movies와 병합한다.
- merge는 병합하는 두 테이블에서 중복되는 열의 이름을 키로 사용한다.

In [66]:
# ratings + users
data = pd.merge(ratings, users)
# + moview
data = pd.merge(data, movies_)

data.loc[data.movie_id==1]

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,genres,title
92452,1,1,5,978824268,F,1,10,48067,Animation,Toy Story (1995)
92453,1,1,5,978824268,F,1,10,48067,Children's,Toy Story (1995)
92454,1,1,5,978824268,F,1,10,48067,Comedy,Toy Story (1995)
92455,6,1,4,978237008,F,50,9,55117,Animation,Toy Story (1995)
92456,6,1,4,978237008,F,50,9,55117,Children's,Toy Story (1995)
92457,6,1,4,978237008,F,50,9,55117,Comedy,Toy Story (1995)
92458,8,1,4,978233496,M,25,12,11413,Animation,Toy Story (1995)
92459,8,1,4,978233496,M,25,12,11413,Children's,Toy Story (1995)
92460,8,1,4,978233496,M,25,12,11413,Comedy,Toy Story (1995)
92461,9,1,5,978225952,M,25,17,61614,Animation,Toy Story (1995)
92462,9,1,5,978225952,M,25,17,61614,Children's,Toy Story (1995)
92463,9,1,5,978225952,M,25,17,61614,Comedy,Toy Story (1995)
92464,10,1,5,978226474,F,35,1,95370,Animation,Toy Story (1995)
92465,10,1,5,978226474,F,35,1,95370,Children's,Toy Story (1995)
92466,10,1,5,978226474,F,35,1,95370,Comedy,Toy Story (1995)
92467,18,1,4,978154768,F,18,3,95825,Animation,Toy Story (1995)
92468,18,1,4,978154768,F,18,3,95825,Children's,Toy Story (1995)
92469,18,1,4,978154768,F,18,3,95825,Comedy,Toy Story (1995)
92470,19,1,5,978555994,M,1,10,48073,Animation,Toy Story (1995)
92471,19,1,5,978555994,M,1,10,48073,Children's,Toy Story (1995)
92472,19,1,5,978555994,M,1,10,48073,Comedy,Toy Story (1995)
92473,21,1,3,978139347,M,18,16,99353,Animation,Toy Story (1995)
92474,21,1,3,978139347,M,18,16,99353,Children's,Toy Story (1995)
92475,21,1,3,978139347,M,18,16,99353,Comedy,Toy Story (1995)
92476,23,1,4,978463614,M,35,0,90049,Animation,Toy Story (1995)
92477,23,1,4,978463614,M,35,0,90049,Children's,Toy Story (1995)
92478,23,1,4,978463614,M,35,0,90049,Comedy,Toy Story (1995)
92479,26,1,3,978130703,M,25,7,23112,Animation,Toy Story (1995)
92480,26,1,3,978130703,M,25,7,23112,Children's,Toy Story (1995)
92481,26,1,3,978130703,M,25,7,23112,Comedy,Toy Story (1995)
...,...,...,...,...,...,...,...,...,...,...
98653,6011,1,5,956786106,M,35,15,80538,Animation,Toy Story (1995)
98654,6011,1,5,956786106,M,35,15,80538,Children's,Toy Story (1995)
98655,6011,1,5,956786106,M,35,15,80538,Comedy,Toy Story (1995)
98656,6013,1,5,959116383,F,25,20,32301,Animation,Toy Story (1995)
98657,6013,1,5,959116383,F,25,20,32301,Children's,Toy Story (1995)
98658,6013,1,5,959116383,F,25,20,32301,Comedy,Toy Story (1995)
98659,6015,1,5,956778765,F,25,9,80013,Animation,Toy Story (1995)
98660,6015,1,5,956778765,F,25,9,80013,Children's,Toy Story (1995)
98661,6015,1,5,956778765,F,25,9,80013,Comedy,Toy Story (1995)
98662,6016,1,4,956778750,M,45,1,37209,Animation,Toy Story (1995)
98663,6016,1,4,956778750,M,45,1,37209,Children's,Toy Story (1995)
98664,6016,1,4,956778750,M,45,1,37209,Comedy,Toy Story (1995)
98665,6021,1,3,956757147,M,25,12,08876,Animation,Toy Story (1995)
98666,6021,1,3,956757147,M,25,12,08876,Children's,Toy Story (1995)
98667,6021,1,3,956757147,M,25,12,08876,Comedy,Toy Story (1995)
98668,6022,1,5,956755763,M,25,17,57006,Animation,Toy Story (1995)
98669,6022,1,5,956755763,M,25,17,57006,Children's,Toy Story (1995)
98670,6022,1,5,956755763,M,25,17,57006,Comedy,Toy Story (1995)
98671,6025,1,5,956812867,F,25,1,32607,Animation,Toy Story (1995)
98672,6025,1,5,956812867,F,25,1,32607,Children's,Toy Story (1995)
98673,6025,1,5,956812867,F,25,1,32607,Comedy,Toy Story (1995)
98674,6032,1,4,956718127,M,45,7,55108,Animation,Toy Story (1995)
98675,6032,1,4,956718127,M,45,7,55108,Children's,Toy Story (1995)
98676,6032,1,4,956718127,M,45,7,55108,Comedy,Toy Story (1995)
98677,6035,1,4,956712849,F,25,1,78734,Animation,Toy Story (1995)
98678,6035,1,4,956712849,F,25,1,78734,Children's,Toy Story (1995)
98679,6035,1,4,956712849,F,25,1,78734,Comedy,Toy Story (1995)
98680,6040,1,3,957717358,M,25,6,11106,Animation,Toy Story (1995)
98681,6040,1,3,957717358,M,25,6,11106,Children's,Toy Story (1995)
98682,6040,1,3,957717358,M,25,6,11106,Comedy,Toy Story (1995)